$max-width: 1140px;
$offset: 20px;
$border-radius: 5px;
$finger-size: 44px;
$font-family: 'Mukta', Arial, sans-serif;
$font-size: 16px;
$font-size-medium: 15px;
$font-size-small: .8em;
//
$color-blue: #04BBBB;
$color-grey: #686d76;
$color-dark-grey: #242425;
