body {
  font-family: $font-family;
  width: 100%;
}

.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $offset;
  padding-right: $offset;
}

// a {
//   color: $color-blue;
//   transition: .15s;
// }


// h2,
// h3,
// h4 {
//   color: white;
// }


// .Main {
//   margin-top: 70px;
// }