extends ../global/masterpage.pug
block content
    .Bahcesehir_tadilat
        .container
            .Bahcesehir_tadilat-master
                .Bahcesehir_tadilat-master-page_title Bahçeşehir Villa Projesi
                .Bahcesehir_tadilat-master-content
                    .Bahcesehir_tadilat-master-content-project1
                        .Bahcesehir_tadilat-master-content-project1-container1
                            .Bahcesehir_tadilat-master-content-project1-container1-1
                                a(href="../../img/bhc20/1.jpg", data-lightbox="mygallery")
                                    img(src="../../img/bhc20/1.jpg", alt="")
                            .Bahcesehir_tadilat-master-content-project1-container1-2
                                a(href="../../img/bhc20/2.jpg", data-lightbox="mygallery")
                                    img(src="../../img/bhc20/2.jpg", alt="")
                            .Bahcesehir_tadilat-master-content-project1-container1-3
                                a(href="../../img/bhc20/3.jpg", data-lightbox="mygallery")
                                    img(src="../../img/bhc20/3.jpg", alt="")
                            .Bahcesehir_tadilat-master-content-project1-container1-4
                                a(href="../../img/bhc20/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/bhc20/4.jpg", alt="")
                        .Bahcesehir_tadilat-master-content-project1-container2
                            .Bahcesehir_tadilat-master-content-project1-container2-1
                                a(href="../../img/bhc20/5.jpg", data-lightbox="mygallery")
                                    img(src="../../img/bhc20/5.jpg", alt="")
                            .Bahcesehir_tadilat-master-content-project1-container2-2
                                a(href="../../img/bhc20/6.jpg", data-lightbox="mygallery")
                                    img(src="../../img/bhc20/6.jpg", alt="")
                            .Bahcesehir_tadilat-master-content-project1-container2-3
                                a(href="../../img/bhc20/7.jpg", data-lightbox="mygallery")
                                    img(src="../../img/bhc20/7.jpg", alt="")
                            .Bahcesehir_tadilat-master-content-project1-container2-4
                                a(href="../../img/bhc20/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/bhc20/8.jpg", alt="")
                        .Bahcesehir_tadilat-master-content-project1-container3
                            .Bahcesehir_tadilat-master-content-project1-container3-1
                                a(href="../../img/bhc20/9.jpg", data-lightbox="mygallery")
                                    img(src="../../img/bhc20/9.jpg", alt="")
                            .Bahcesehir_tadilat-master-content-project1-container3-2
                                a(href="../../img/bhc20/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/bhc20/4.jpg", alt="")
                            .Bahcesehir_tadilat-master-content-project1-container3-3
                                a(href="../../img/bhc20/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/bhc20/8.jpg", alt="")
                        
