extends ../global/masterpage.pug
block content
    .Bahcesehir_tadilat
        .container
            .Bahcesehir_tadilat-master
                .Bahcesehir_tadilat-master-page_title Bahçeşehir Tadilat Projesi
                .Bahcesehir_tadilat-master-content
                    .Bahcesehir_tadilat-master-content-project1
                        .Bahcesehir_tadilat-master-content-project1-container1
                            .Bahcesehir_tadilat-master-content-project1-container1-1
                                a(href="../../img/bhc/6.jpg", data-lightbox="mygallery")
                                    img(src="../../img/bhc/6.jpg", alt="")
                            .Bahcesehir_tadilat-master-content-project1-container1-2
                                a(href="../../img/bhc/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/bhc/8.jpg", alt="")
                            .Bahcesehir_tadilat-master-content-project1-container1-3
                                a(href="../../img/bhc/13.jpg", data-lightbox="mygallery")
                                    img(src="../../img/bhc/13.jpg", alt="")
                            .Bahcesehir_tadilat-master-content-project1-container1-4
                                a(href="../../img/bhc/17.jpg", data-lightbox="mygallery")
                                    img(src="../../img/bhc/17.jpg", alt="")
                        .Bahcesehir_tadilat-master-content-project1-container2
                            .Bahcesehir_tadilat-master-content-project1-container2-1
                                a(href="../../img/bhc/17.jpg", data-lightbox="mygallery")
                                    img(src="../../img/bhc/17.jpg", alt="")
