extends ../global/masterpage.pug
block content
    .Balkon_kuveyt
        .container
            .Balkon_kuveyt-master
                .Balkon_kuveyt-master-page_title Balkon Cafe Kuveyt
                .Balkon_kuveyt-master-content
                    .Balkon_kuveyt-master-content-project1
                        .Balkon_kuveyt-master-content-project1-container1
                            .Balkon_kuveyt-master-content-project1-container1-1
                                a(href="../../img/balkon-kuveyt/1.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon-kuveyt/1.jpg", alt="")
                            .Balkon_kuveyt-master-content-project1-container1-2
                                a(href="../../img/balkon-kuveyt/2.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon-kuveyt/2.jpg", alt="")
                            .Balkon_kuveyt-master-content-project1-container1-3
                                a(href="../../img/balkon-kuveyt/3.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon-kuveyt/3.jpg", alt="")
                            .Balkon_kuveyt-master-content-project1-container1-4
                                a(href="../../img/balkon-kuveyt/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon-kuveyt/4.jpg", alt="")
                        .Balkon_kuveyt-master-content-project1-container2
                            .Balkon_kuveyt-master-content-project1-container2-1
                                a(href="../../img/balkon-kuveyt/5.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon-kuveyt/5.jpg", alt="")
                            .Balkon_kuveyt-master-content-project1-container2-2
                                a(href="../../img/balkon-kuveyt/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon-kuveyt/4.jpg", alt="")