extends ../global/masterpage.pug
block content
    .Balkon_erbil
        .container
            .Balkon_erbil-master
                .Balkon_erbil-master-page_title Balkon Cafe Erbil
                .Balkon_erbil-master-content
                    .Balkon_erbil-master-content-project1
                        .Balkon_erbil-master-content-project1-container1
                            .Balkon_erbil-master-content-project1-container1-1
                                a(href="../../img/balkon-erbil/1.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon-erbil/1.jpg", alt="")
                            .Balkon_erbil-master-content-project1-container1-2
                                a(href="../../img/balkon-erbil/2.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon-erbil/2.jpg", alt="")
                            .Balkon_erbil-master-content-project1-container1-3
                                a(href="../../img/balkon-erbil/3.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon-erbil/3.jpg", alt="")
                            .Balkon_erbil-master-content-project1-container1-4
                                a(href="../../img/balkon-erbil/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon-erbil/4.jpg", alt="")
                        .Balkon_erbil-master-content-project1-container2
                            .Balkon_erbil-master-content-project1-container2-1
                                a(href="../../img/balkon-erbil/5.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon-erbil/5.jpg", alt="")
                            .Balkon_erbil-master-content-project1-container2-2
                                a(href="../../img/balkon-erbil/6.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon-erbil/6.jpg", alt="")
                            .Balkon_erbil-master-content-project1-container2-3
                                a(href="../../img/balkon-erbil/7.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon-erbil/7.jpg", alt="")
                            .Balkon_erbil-master-content-project1-container2-4
                                a(href="../../img/balkon-erbil/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon-erbil/8.jpg", alt="")
                        .Balkon_erbil-master-content-project1-container3
                            .Balkon_erbil-master-content-project1-container3-1
                                a(href="../../img/balkon-erbil/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon-erbil/4.jpg", alt="")
                            .Balkon_erbil-master-content-project1-container3-2
                                a(href="../../img/balkon-erbil/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon-erbil/8.jpg", alt="")