extends ../global/masterpage.pug
block content
    .Devam
        .container
            .Devam-master
                .Devam-master-page_title Devam Eden Projelerimiz
                .Devam-master-content
                    .Devam-master-content-container1
                        .Devam-master-content-container1-proje1
                            .Devam-master-content-container1-proje1-title 
                                a(href="./zb1-konut-projesi.pug")
                                    h1 ZB1 Konut Projesi
                            a(href="./zb1-konut-projesi.pug")
                                .Devam-master-content-container1-proje1-img 
                                    h4 Daha Fazlası İçin Tıklayın
                        .Devam-master-content-container1-proje2
                            .Devam-master-content-container1-proje2-title 
                                a(href="./zb2-konut-projesi.pug")
                                    h1 ZB2 Konut Projesi
                            a(href="./zb2-konut-projesi.pug")
                                .Devam-master-content-container1-proje2-img 
                                    h4 Daha Fazlası İçin Tıklayın
                    
