extends ../global/masterpage.pug
block content
    .Devam
        .container
            .Devam-master
                .Devam-master-page_title Devam Eden Projelerimiz
                .Devam-master-content
                    .Devam-master-content-container1
                        .Devam-master-content-container1-proje1
                            .Devam-master-content-container1-proje1-title 
                                a(href="./zeytinburnu-kentsel-yenileme-projesi.pug")
                                    h1 Zeytinburnu Kentsel Yenileme Projesi
                            a(href="./zeytinburnu-kentsel-yenileme-projesi.pug")
                                .Devam-master-content-container1-proje1-img 
                                    h4 Daha Fazlası İçin Tıklayın
                    //- .Devam-master-content-proje2
