extends ../global/masterpage.pug
block content
    .Devam
        .container
            .Devam-master
                .Devam-master-page_title Devam Eden Projelerimiz
                .Devam-master-content
                    .Devam-master-content-project1
                        h1 Zeytinburnu Kentsel Yenileme Projesi
                        .Devam-master-content-project1-container1
                            .Devam-master-content-project1-container1-1
                                a(href="../../img/zb_deneme.png", data-lightbox="mygallery")
                                    img(src="../../img/zb_deneme.png", alt="")
                            .Devam-master-content-project1-container1-2
                                a(href="../../img/zb_deneme.png", data-lightbox="mygallery")
                                    img(src="../../img/zb_deneme.png", alt="")
                            .Devam-master-content-project1-container1-3
                                a(href="../../img/zb_deneme.png", data-lightbox="mygallery")
                                    img(src="../../img/zb_deneme.png", alt="")
                            .Devam-master-content-project1-container1-4
                                a(href="../../img/zb_deneme.png", data-lightbox="mygallery")
                                    img(src="../../img/zb_deneme.png", alt="")
                        .Devam-master-content-project1-container2
                            .Devam-master-content-project1-container2-1
                                a(href="../../img/zb_deneme.png", data-lightbox="mygallery")
                                    img(src="../../img/zb_deneme.png", alt="")
                            .Devam-master-content-project1-container2-2
                                a(href="../../img/zb_deneme.png", data-lightbox="mygallery")
                                    img(src="../../img/zb_deneme.png", alt="")
                            .Devam-master-content-project1-container2-3
                                a(href="../../img/zb_deneme.png", data-lightbox="mygallery")
                                    img(src="../../img/zb_deneme.png", alt="")
                            .Devam-master-content-project1-container2-4
                                a(href="../../img/zb_deneme.png", data-lightbox="mygallery")
                                    img(src="../../img/zb_deneme.png", alt="")
                        .Devam-master-content-project1-container3
                            .Devam-master-content-project1-container3-1
                                a(href="../../img/zb_deneme.png", data-lightbox="mygallery")
                                    img(src="../../img/zb_deneme.png", alt="")
                            .Devam-master-content-project1-container3-2
                                a(href="../../img/zb_deneme.png", data-lightbox="mygallery")
                                    img(src="../../img/zb_deneme.png", alt="")
                            .Devam-master-content-project1-container3-3
                                a(href="../../img/zb_deneme.png", data-lightbox="mygallery")
                                    img(src="../../img/zb_deneme.png", alt="")
                            .Devam-master-content-project1-container3-4
                                a(href="../../img/zb_deneme.png", data-lightbox="mygallery")
                                    img(src="../../img/zb_deneme.png", alt="")
                        .Devam-master-content-project1-container4
                            .Devam-master-content-project1-container4-1
                                a(href="../../img/zb_deneme.png", data-lightbox="mygallery")
                                    img(src="../../img/zb_deneme.png", alt="")
                            .Devam-master-content-project1-container4-2
                                a(href="../../img/zb_deneme.png", data-lightbox="mygallery")
                                    img(src="../../img/zb_deneme.png", alt="")
                            .Devam-master-content-project1-container4-3
                                a(href="../../img/zb_deneme.png", data-lightbox="mygallery")
                                    img(src="../../img/zb_deneme.png", alt="")
                            .Devam-master-content-project1-container4-4
                                a(href="../../img/zb_deneme.png", data-lightbox="mygallery")
                                    img(src="../../img/zb_deneme.png", alt="")
                        .Devam-master-content-project1-container5
                            .Devam-master-content-project1-container5-1
                                a(href="../../img/zb_deneme.png", data-lightbox="mygallery")
                                    img(src="../../img/zb_deneme.png", alt="")
                            .Devam-master-content-project1-container5-2
                                a(href="../../img/zb_deneme.png", data-lightbox="mygallery")
                                    img(src="../../img/zb_deneme.png", alt="")
                            .Devam-master-content-project1-container5-3
                                a(href="../../img/zb_deneme.png", data-lightbox="mygallery", data-title="Zeytinburnu Kentsel Yenileme Projesi")
                                    img(src="../../img/zb_deneme.png", alt="")
                        .Devam-master-content-project1-container6
                            .Devam-master-content-project1-container6-1
                                a(href="../../img/zb_deneme.png", data-lightbox="mygallery")
                                    img(src="../../img/zb_deneme.png", alt="")
                            .Devam-master-content-project1-container6-2
                                a(href="../../img/zb_deneme.png", data-lightbox="mygallery")
                                    img(src="../../img/zb_deneme.png", alt="")
                            .Devam-master-content-project1-container6-3
                                a(href="../../img/zb_deneme.png", data-lightbox="mygallery", data-title="Zeytinburnu Kentsel Yenileme Projesi")
                                    img(src="../../img/zb_deneme.png", alt="")
                        .Devam-master-content-project1-container7
                            .Devam-master-content-project1-container7-1
                                a(href="../../img/zb_deneme.png", data-lightbox="mygallery")
                                    img(src="../../img/zb_deneme.png", alt="")
                            
                    //- .Devam-master-content-project2
                    