extends ../global/masterpage.pug
block content
    .Duhok
        .container
            .Duhok-master
                .Duhok-master-page_title Duhok Sports Center
                .Duhok-master-content
                    .Duhok-master-content-project1
                        .Duhok-master-content-project1-container1
                            .Duhok-master-content-project1-container1-1
                                a(href="../../img/duhok/39.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok/39.jpg", alt="")
                            .Duhok-master-content-project1-container1-2
                                a(href="../../img/duhok/16.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok/16.jpg", alt="")
                            .Duhok-master-content-project1-container1-3
                                a(href="../../img/duhok/48.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok/48.jpg", alt="")
                            .Duhok-master-content-project1-container1-4
                                a(href="../../img/duhok/49.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok/49.jpg", alt="")
                        .Duhok-master-content-project1-container2
                            .Duhok-master-content-project1-container2-1
                                a(href="../../img/duhok/50.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok/50.jpg", alt="")
                            .Duhok-master-content-project1-container2-2
                                a(href="../../img/duhok/49.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok/49.jpg", alt="")
                            
                        