extends ../global/masterpage.pug
block content
    .Duhok
        .container
            .Duhok-master
                .Duhok-master-page_title Duhok Sports Center
                .Duhok-master-content
                    .Duhok-master-content-project1
                        .Duhok-master-content-project1-container1
                            .Duhok-master-content-project1-container1-1
                                a(href="../../img/duhok1/1.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/1.jpg", alt="")
                            .Duhok-master-content-project1-container1-2
                                a(href="../../img/duhok1/2.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/2.jpg", alt="")
                            .Duhok-master-content-project1-container1-3
                                a(href="../../img/duhok1/3.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/3.jpg", alt="")
                            .Duhok-master-content-project1-container1-4
                                a(href="../../img/duhok1/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/4.jpg", alt="")
                        .Duhok-master-content-project1-container2
                            .Duhok-master-content-project1-container2-1
                                a(href="../../img/duhok1/5.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/5.jpg", alt="")
                            .Duhok-master-content-project1-container2-2
                                a(href="../../img/duhok1/6.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/6.jpg", alt="")
                            .Duhok-master-content-project1-container2-3
                                a(href="../../img/duhok1/7.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/7.jpg", alt="")
                            .Duhok-master-content-project1-container2-4
                                a(href="../../img/duhok1/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/8.jpg", alt="")
                        .Duhok-master-content-project1-container3
                            .Duhok-master-content-project1-container3-1
                                a(href="../../img/duhok1/9.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/9.jpg", alt="")
                            .Duhok-master-content-project1-container3-2
                                a(href="../../img/duhok1/10.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/10.jpg", alt="")
                            .Duhok-master-content-project1-container3-3
                                a(href="../../img/duhok1/11.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/11.jpg", alt="")
                            .Duhok-master-content-project1-container3-4
                                a(href="../../img/duhok1/12.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/12.jpg", alt="")
                        .Duhok-master-content-project1-container4
                            .Duhok-master-content-project1-container4-1
                                a(href="../../img/duhok1/13.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/13.jpg", alt="")
                            .Duhok-master-content-project1-container4-2
                                a(href="../../img/duhok1/14.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/14.jpg", alt="")
                            .Duhok-master-content-project1-container4-3
                                a(href="../../img/duhok1/15.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/15.jpg", alt="")
                            .Duhok-master-content-project1-container4-4
                                a(href="../../img/duhok1/16.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/16.jpg", alt="")
                        .Duhok-master-content-project1-container5
                            .Duhok-master-content-project1-container5-1
                                a(href="../../img/duhok1/17.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/17.jpg", alt="")
                            .Duhok-master-content-project1-container5-2
                                a(href="../../img/duhok1/18.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/18.jpg", alt="")
                            .Duhok-master-content-project1-container5-3
                                a(href="../../img/duhok1/19.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/19.jpg", alt="")
                            .Duhok-master-content-project1-container5-4
                                a(href="../../img/duhok1/20.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/20.jpg", alt="")
                        .Duhok-master-content-project1-container6
                            .Duhok-master-content-project1-container6-1
                                a(href="../../img/duhok1/21.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/21.jpg", alt="")
                            .Duhok-master-content-project1-container6-2
                                a(href="../../img/duhok1/22.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/22.jpg", alt="")
                            .Duhok-master-content-project1-container6-3
                                a(href="../../img/duhok1/23.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/23.jpg", alt="")
                            .Duhok-master-content-project1-container6-4
                                a(href="../../img/duhok1/24.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/24.jpg", alt="")
                        .Duhok-master-content-project1-container7
                            .Duhok-master-content-project1-container7-1
                                a(href="../../img/duhok1/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/4.jpg", alt="")
                            .Duhok-master-content-project1-container7-2
                                a(href="../../img/duhok1/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/8.jpg", alt="")
                            .Duhok-master-content-project1-container7-3
                                a(href="../../img/duhok1/12.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/12.jpg", alt="")
                        .Duhok-master-content-project1-container8
                            .Duhok-master-content-project1-container8-1
                                a(href="../../img/duhok1/16.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/16.jpg", alt="")
                            .Duhok-master-content-project1-container8-2
                                a(href="../../img/duhok1/20.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/20.jpg", alt="")
                            .Duhok-master-content-project1-container8-3
                                a(href="../../img/duhok1/24.jpg", data-lightbox="mygallery")
                                    img(src="../../img/duhok1/24.jpg", alt="")
                        