extends ../global/masterpage.pug
block content
    .Fapel
        .container
            .Fapel-master
                .Fapel-master-page_title Florya Fapel Restaurant
                .Fapel-master-content
                    .Fapel-master-content-project1
                        .Fapel-master-content-project1-container1
                            .Fapel-master-content-project1-container1-1
                                a(href="../../img/fapel/1.jpg", data-lightbox="mygallery")
                                    img(src="../../img/fapel/1.jpg", alt="")
                            .Fapel-master-content-project1-container1-2
                                a(href="../../img/fapel/2.jpg", data-lightbox="mygallery")
                                    img(src="../../img/fapel/2.jpg", alt="")
                            .Fapel-master-content-project1-container1-3
                                a(href="../../img/fapel/3.jpg", data-lightbox="mygallery")
                                    img(src="../../img/fapel/3.jpg", alt="")
                            .Fapel-master-content-project1-container1-4
                                a(href="../../img/fapel/5.jpg", data-lightbox="mygallery")
                                    img(src="../../img/fapel/5.jpg", alt="")
                        .Fapel-master-content-project1-container2
                            .Fapel-master-content-project1-container2-1
                                a(href="../../img/fapel/6.jpg", data-lightbox="mygallery")
                                    img(src="../../img/fapel/6.jpg", alt="")
                            .Fapel-master-content-project1-container2-2
                                a(href="../../img/fapel/7.jpg", data-lightbox="mygallery")
                                    img(src="../../img/fapel/7.jpg", alt="")
                            .Fapel-master-content-project1-container2-3
                                a(href="../../img/fapel/gg.jpg", data-lightbox="mygallery")
                                    img(src="../../img/fapel/gg.jpg", alt="")
                            .Fapel-master-content-project1-container2-4
                                a(href="../../img/fapel/hh.jpg", data-lightbox="mygallery")
                                    img(src="../../img/fapel/hh.jpg", alt="")
                        .Fapel-master-content-project1-container3
                            .Fapel-master-content-project1-container3-1
                                a(href="../../img/fapel/jjjj.jpg", data-lightbox="mygallery")
                                    img(src="../../img/fapel/jjjj.jpg", alt="")
                            .Fapel-master-content-project1-container3-2
                                a(href="../../img/fapel/5.jpg", data-lightbox="mygallery")
                                    img(src="../../img/fapel/5.jpg", alt="")
                            .Fapel-master-content-project1-container3-3
                                a(href="../../img/fapel/hh.jpg", data-lightbox="mygallery")
                                    img(src="../../img/fapel/hh.jpg", alt="")
                            