extends ../global/masterpage.pug
block content
    .Fapel
        .container
            .Fapel-master
                .Fapel-master-page_title Florya Fapel Restaurant
                .Fapel-master-content
                    .Fapel-master-content-project1
                        .Fapel-master-content-project1-container1
                            .Fapel-master-content-project1-container1-1
                                a(href="../../img/fapel1/1.jpg", data-lightbox="mygallery")
                                    img(src="../../img/fapel1/1.jpg", alt="")
                            .Fapel-master-content-project1-container1-2
                                a(href="../../img/fapel1/2.jpg", data-lightbox="mygallery")
                                    img(src="../../img/fapel1/2.jpg", alt="")
                            .Fapel-master-content-project1-container1-3
                                a(href="../../img/fapel1/3.jpg", data-lightbox="mygallery")
                                    img(src="../../img/fapel1/3.jpg", alt="")
                            .Fapel-master-content-project1-container1-4
                                a(href="../../img/fapel1/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/fapel1/4.jpg", alt="")
                        .Fapel-master-content-project1-container2
                            .Fapel-master-content-project1-container2-1
                                a(href="../../img/fapel1/5.jpg", data-lightbox="mygallery")
                                    img(src="../../img/fapel1/5.jpg", alt="")
                            .Fapel-master-content-project1-container2-2
                                a(href="../../img/fapel1/6.jpg", data-lightbox="mygallery")
                                    img(src="../../img/fapel1/6.jpg", alt="")
                            .Fapel-master-content-project1-container2-3
                                a(href="../../img/fapel1/7.jpg", data-lightbox="mygallery")
                                    img(src="../../img/fapel1/7.jpg", alt="")
                            .Fapel-master-content-project1-container2-4
                                a(href="../../img/fapel1/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/fapel1/8.jpg", alt="")
                        .Fapel-master-content-project1-container3
                            .Fapel-master-content-project1-container3-1
                                a(href="../../img/fapel1/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/fapel1/4.jpg", alt="")
                            .Fapel-master-content-project1-container3-2
                                a(href="../../img/fapel1/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/fapel1/8.jpg", alt="")