extends ../global/masterpage.pug
block content
    .Hakkimizda
        .container
            .Hakkimizda-master
                .Hakkimizda-master-page_title Hakkımızda
                .Hakkimizda-master-bizkimiz
                    h1.Hakkimizda-master-bizkimiz-title Biz Kimiz?
                    .Hakkimizda-master-bizkimiz-content
                        p Maviyol İnşaat olarak Türkiye’de müteahhitlik ve mühendislik hizmetleri ile faaliyet gösteren üretici ve uygulamacı olarak kurumsal bir yapıya kavuşmuş günümüzde grup firmaları ile faaliyetlerimize devam etmekteyiz. Nitelikli personellerimiz ve geniş tecrübemizle kalite ve başarıdan ödün vermeden birçok alanda hizmet vermekteyiz. 
                        p Çalışmalarımızın planlama aşamasından başlayıp, uygulama süreci ve teslim anına kadar varlığımızı sürdürerek sorumluluğunu aldığımız tüm projeleri ihtiyaç ve taleplerinin daha fazlasını gerçekleştirmeyi hedefleyerek müşteri memnuniyetini maksimumda tutmayı hedeflemekteyiz. 
                        p Tüm faaliyetlerimizde kalite, güven ve istikrar unsurlarını her zaman en ön planda tutmaktayız. 
                        p Sosyal ve ekonomik olarak sürekli iyileştirme sağlamayı amaçlayarak teknolojiye ve yeniliklerine yön veren bir şirketiz.
                .Hakkimizda-master-vizyon
                    h1.Hakkimizda-master-vizyon-title Vizyonumuz
                    .Hakkimizda-master-vizyon-content
                        p Vizyonumuz; Türkiye’de ve Dünya çapında geniş teknik altyapısı sayesinde kalite ve başarıdan ödün vermeden güçlü işbirlikçileriyle yenilikçi yaklaşımını devam ettirerek yapmış olduğumuz çalışmalarla, müşteri odaklı yaklaşımını devam ettirerek dünya üzerinde ihtiyaç duyulan ve tercih edilen kurumsal bir şirket olarak yetenek ve tecrübelerimizi sunmak.
                        p Ayrıca küresel ısınma, susuzluk, çevre kirliliği ve doğal kaynakların hızla tüketilmesi gibi günümüz sıkıntıları için ‘Yeşil Bina’ yapımı desteklemekteyiz. Yeşil Bina sertifikasına sahip olan çevre dostu yapılarımız;  bu sayede enerji tasarrufu olan, doğaya saygılı, ekolojik, konforlu ve enerji tüketimini azaltan binalar olduğundan daha fazla değer kazanmaktadır.
                .Hakkimizda-master-misyon
                    h1.Hakkimizda-master-misyon-title Misyonumuz
                    .Hakkimizda-master-misyon-content
                        p Bugünden çok daha iyi yarınlar oluşturmak için bölgenin sosyal ve kültürel dokusuna uygun, evrensel standartlarda kaliteli ve güvenilir yaşam alanları inşa etmeyi; dünya şirketi bilincinde çalışmayı; en yüksek mükemmellik seviyesini yakalayarak, rekabetçi ve büyüme potansiyelimiz ile değerlerimizi en iyi şekilde yönetmeyi; temel prensibi insana ve doğaya saygı olan şirketimiz, çalıştığımız kurum ve müşteri ilişkilerini uyum içerisinde tutarak sektörümüzde hizmet bazında farklılaşmayı ve çevre dostu olan yeşil bina yapımının yaygınlaştırılmasını amaçlamaktayız.
                .Hakkimizda-master-yky
                    h1.Hakkimizda-master-yky-title Yönetim Kurulu Yazısı
                    .Hakkimizda-master-yky-nr
                        h2.Hakkimizda-master-yky-nr-name Hasan GÜLSEROĞLU
                        h3.Hakkimizda-master-yky-nr-role Yönetim Kurulu Başkanı / İnşaat Yüksek Mühendisi
                    .Hakkimizda-master-yky-content 
                        p İnşaat Yüksek Mühendisi ünvanına sahip Hasan Gülseroğlu’nun kariyer yolculuğu; Maviyol İnşaat’ın kurulmasından önce sektörün öncü mimarlık ve mühendislik firmalarında üstün katkıları bulunmasıyla, 20’li yaşlarında başlamıştır. Genç yaşta İnşaat sektöründeki farklı deneyimleriyle mükemmeliyetçiliğe erken yaşta alışan Gülseroğlu; çalışma disiplini ve azmiyle insanlığa, çevreye ve evrensel değerlerine olan sorumluluklarını yerine getirerek önemli eserlerde boy göstermektedir.



        