extends ../global/masterpage.pug
block content
    .Ibb_agac
        .container
            .Ibb_agac-master
                .Ibb_agac-master-page_title İBB Ağaç AŞ Yol Çizgi Projesi
                .Ibb_agac-master-content
                    .Ibb_agac-master-content-project1
                        .Ibb_agac-master-content-project1-container1
                            .Ibb_agac-master-content-project1-container1-1
                                a(href="../../img/ibb-agac/1.jpg", data-lightbox="mygallery")
                                    img(src="../../img/ibb-agac/1.jpg", alt="")
                            .Ibb_agac-master-content-project1-container1-2
                                a(href="../../img/ibb-agac/2.jpg", data-lightbox="mygallery")
                                    img(src="../../img/ibb-agac/2.jpg", alt="")
                            .Ibb_agac-master-content-project1-container1-3
                                a(href="../../img/ibb-agac/3.jpg", data-lightbox="mygallery")
                                    img(src="../../img/ibb-agac/3.jpg", alt="")
                            .Ibb_agac-master-content-project1-container1-4
                                a(href="../../img/ibb-agac/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/ibb-agac/4.jpg", alt="")
                        .Ibb_agac-master-content-project1-container2
                            .Ibb_agac-master-content-project1-container2-1
                                a(href="../../img/ibb-agac/5.jpg", data-lightbox="mygallery")
                                    img(src="../../img/ibb-agac/5.jpg", alt="")
                            .Ibb_agac-master-content-project1-container2-2
                                a(href="../../img/ibb-agac/6.jpg", data-lightbox="mygallery")
                                    img(src="../../img/ibb-agac/6.jpg", alt="")
                            .Ibb_agac-master-content-project1-container2-3
                                a(href="../../img/ibb-agac/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/ibb-agac/4.jpg", alt="")