extends ../global/masterpage.pug
block content
    //- h1 Merhaba
    .homepage
        .homepage-slider
            .homepage-slider-1
                //- img.bg(src="../../img/bg4.jpg", alt="")
                //- img.bg_mobile(src="../../img/bg4_mobile.jpg", alt="")
            .homepage-slider-2
                //- img.bg(src="../../img/bg3.jpg", alt="")
                //- img.bg_mobile(src="../../img/bg3_mobile.jpg", alt="")
            .homepage-slider-3
                //- img.bg(src="../../img/bg6.jpg", alt="")
                //- img.bg_mobile(src="../../img/bg6_mobile.jpg", alt="")
            .homepage-slider-4
                //- img.bg(src="../../img/bg8.jpg", alt="")
                //- img.bg_mobile(src="../../img/bg8.jpg", alt="")


    

        
    h3 content
    a(href="./hakkimizda.pug") hakkimizda