extends ../global/masterpage.pug
block content
    //- h1 Merhaba
    .homepage
        .homepage-slider
            .slider1

    img.bg(src="../../img/bg.jpg", alt="")
    img.bg_mobile(src="../../img/bg_mobile.jpg", alt="")
    
    //- .main-carousel
    //-     .carousel-cell 1. Cell
    //-     .carousel-cell 2. Cell
    //-     .carousel-cell 3. Cell
        
    h3 content