extends ../global/masterpage.pug
block content
    //- h1 Merhaba
    .homepage
        .homepage-slider
            .homepage-slider-1
                //- h1 selam
                .text_container
                    span#text1.text1 Kentsel Dönüşüm
                    span#text12.text12 Kentsel dönüşüm, bozulma ve çökme olan kentsel alanın ekonomik, toplumsal, fiziksel ve çevresel koşullarının kapsamlı ve bütünleşik yaklaşımlarla iyileştirilmesine yönelik olarak uygulanan strateji ve eylemlerin bütününü ifade ediyor.
                        button(type="button" onclick="location.href='./kentsel-donusum.html'").button_hp.kentsel Daha Fazlası
            .homepage-slider-2
                .text_container
                    span.text2 Trafik Güvenliği
                    span.text22 Yatay trafik işaretleme (yol çizgileri), hazır trafik işaret ve sembolleri ile oyun alanları, trafik ekipman ve aksesuar, elastik tip köprü genleşme derzi uygulamaları firmamız tarafından kusursuz bir şekilde yapılmaktadır.
                        button(type="button" onclick="location.href='./trafik-guvenligi.html'").button_hp.trafik Daha Fazlası
            .homepage-slider-3
                .text_container
                    span.text3 Bina Bilgi Modelleme
                    span.text32 BIM (Building Information Modeling: Yapı Bilgi Modellemesi, Yapı Bilgi Sistemi) en temel tanımı ile; birbirinden farklı mimari projelerin tasarımında, inşasında ve sürdürülmesinde görev üstlenenlerin ortak olarak yararlanabileceği 3 boyutlu bir bilgi paylaşım sürecidir.
                        button(type="button").button_hp.bim Daha Fazlası
            .homepage-slider-4
                .text_container
                    span.text4 Mimari Proje ve Tasarım
                    span.text42 19. yy’ın endüstri devrimi sonucunda ortaya çıkan, gelişmelere dayanan, günümüzün gereksinmelerine, sanat anlayışına ve yapı teknolojisine uygun mimarlık. Modern mimarlık, tarihsel eski biçimlerin kopyaları yerine özgün tasarıma dayanır.
                        button(type="button").button_hp.tasarim Daha Fazlası

    .Homepage
        .Homepage-master
            .Homepage-master-content

        
        

        br
        section#circleBar
            .row
                .col-md-3
                    .round(data-value="0.95" data-size="200" data-thickness="12")
                        strong
                        span
                            i.fas.fa-drafting-compass
                            | Mimari Planlama

                .col-md-3
                    .round(data-value="0.88" data-size="200" data-thickness="12")
                        strong
                        span
                            i.fas.fa-pencil-ruler
                            | Tasarım

                .col-md-3
                    .round(data-value="0.97" data-size="200" data-thickness="12")
                        strong
                        span
                            i.fas.fa-hard-hat
                            | Mühendislik Hizmetleri

                .col-md-3
                    .round(data-value="0.94" data-size="200" data-thickness="12")
                        strong
                        span
                            i.fas.fa-building
                            | Akıllı Binalar

            
        
    //- .content
    //-     h3 content