extends ../global/masterpage.pug
block content
    .Kerkuk
        .container
            .Kerkuk-master
                .Kerkuk-master-page_title Kerkük Kütüphane Projesi
                .Kerkuk-master-content
                    .Kerkuk-master-content-project1
                        .Kerkuk-master-content-project1-container1
                            .Kerkuk-master-content-project1-container1-1
                                a(href="../../img/kerkuk/1.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/1.jpg", alt="")
                            .Kerkuk-master-content-project1-container1-2
                                a(href="../../img/kerkuk/2.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/2.jpg", alt="")
                            .Kerkuk-master-content-project1-container1-3
                                a(href="../../img/kerkuk/3.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/3.jpg", alt="")
                            .Kerkuk-master-content-project1-container1-4
                                a(href="../../img/kerkuk/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/4.jpg", alt="")
                        .Kerkuk-master-content-project1-container2
                            .Kerkuk-master-content-project1-container2-1
                                a(href="../../img/kerkuk/5.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/5.jpg", alt="")
                            .Kerkuk-master-content-project1-container2-2
                                a(href="../../img/kerkuk/6.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/6.jpg", alt="")
                            .Kerkuk-master-content-project1-container2-3
                                a(href="../../img/kerkuk/7.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/7.jpg", alt="")
                            .Kerkuk-master-content-project1-container2-4
                                a(href="../../img/kerkuk/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/8.jpg", alt="")
                        .Kerkuk-master-content-project1-container3
                            .Kerkuk-master-content-project1-container3-1
                                a(href="../../img/kerkuk/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/4.jpg", alt="")
                            .Kerkuk-master-content-project1-container3-2
                                a(href="../../img/kerkuk/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/8.jpg", alt="")