extends ../global/masterpage.pug
block content
    .Kerkuk_plaza
        .container
            .Kerkuk_plaza-master
                .Kerkuk_plaza-master-page_title Kerkük Plaza
                .Kerkuk_plaza-master-content
                    .Kerkuk_plaza-master-content-project1
                        .Kerkuk_plaza-master-content-project1-container1
                            .Kerkuk_plaza-master-content-project1-container1-1
                                a(href="../../img/kerkuk/plaza/1.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/1.jpg", alt="")
                            .Kerkuk_plaza-master-content-project1-container1-2
                                a(href="../../img/kerkuk/plaza/2.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/2.jpg", alt="")
                            .Kerkuk_plaza-master-content-project1-container1-3
                                a(href="../../img/kerkuk/plaza/3.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/3.jpg", alt="")
                            .Kerkuk_plaza-master-content-project1-container1-4
                                a(href="../../img/kerkuk/plaza/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/4.jpg", alt="")
                        .Kerkuk_plaza-master-content-project1-container2
                            .Kerkuk_plaza-master-content-project1-container2-1
                                a(href="../../img/kerkuk/plaza/5.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/5.jpg", alt="")
                            .Kerkuk_plaza-master-content-project1-container2-2
                                a(href="../../img/kerkuk/plaza/6.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/6.jpg", alt="")
                            .Kerkuk_plaza-master-content-project1-container2-3
                                a(href="../../img/kerkuk/plaza/7.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/7.jpg", alt="")
                            .Kerkuk_plaza-master-content-project1-container2-4
                                a(href="../../img/kerkuk/plaza/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/8.jpg", alt="")
                        .Kerkuk_plaza-master-content-project1-container3
                            .Kerkuk_plaza-master-content-project1-container3-1
                                a(href="../../img/kerkuk/plaza/9.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/9.jpg", alt="")
                            .Kerkuk_plaza-master-content-project1-container3-2
                                a(href="../../img/kerkuk/plaza/10.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/10.jpg", alt="")
                            .Kerkuk_plaza-master-content-project1-container3-3
                                a(href="../../img/kerkuk/plaza/11.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/11.jpg", alt="")
                            .Kerkuk_plaza-master-content-project1-container3-4
                                a(href="../../img/kerkuk/plaza/12.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/12.jpg", alt="")
                        .Kerkuk_plaza-master-content-project1-container4
                            .Kerkuk_plaza-master-content-project1-container4-1
                                a(href="../../img/kerkuk/plaza/13.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/13.jpg", alt="")
                            .Kerkuk_plaza-master-content-project1-container4-2
                                a(href="../../img/kerkuk/plaza/14.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/14.jpg", alt="")
                            .Kerkuk_plaza-master-content-project1-container4-3
                                a(href="../../img/kerkuk/plaza/15.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/15.jpg", alt="")
                            .Kerkuk_plaza-master-content-project1-container4-4
                                a(href="../../img/kerkuk/plaza/16.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/16.jpg", alt="")
                        .Kerkuk_plaza-master-content-project1-container5
                            .Kerkuk_plaza-master-content-project1-container5-1
                                a(href="../../img/kerkuk/plaza/17.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/17.jpg", alt="")
                            .Kerkuk_plaza-master-content-project1-container5-2
                                a(href="../../img/kerkuk/plaza/18.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/18.jpg", alt="")
                            .Kerkuk_plaza-master-content-project1-container5-3
                                a(href="../../img/kerkuk/plaza/19.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/19.jpg", alt="")
                            .Kerkuk_plaza-master-content-project1-container5-4
                                a(href="../../img/kerkuk/plaza/20.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/20.jpg", alt="")
                        .Kerkuk_plaza-master-content-project1-container6
                            .Kerkuk_plaza-master-content-project1-container6-1
                                a(href="../../img/kerkuk/plaza/21.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/21.jpg", alt="")
                            .Kerkuk_plaza-master-content-project1-container6-2
                                a(href="../../img/kerkuk/plaza/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/4.jpg", alt="")
                            .Kerkuk_plaza-master-content-project1-container6-3
                                a(href="../../img/kerkuk/plaza/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/8.jpg", alt="")
                        .Kerkuk_plaza-master-content-project1-container7
                            .Kerkuk_plaza-master-content-project1-container7-1
                                a(href="../../img/kerkuk/plaza/12.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/12.jpg", alt="")
                            .Kerkuk_plaza-master-content-project1-container7-2
                                a(href="../../img/kerkuk/plaza/16.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/16.jpg", alt="")
                            .Kerkuk_plaza-master-content-project1-container7-3
                                a(href="../../img/kerkuk/plaza/20.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/plaza/20.jpg", alt="")
                            