extends ../global/masterpage.pug
block content
    .Kerkuk_kutuphane
        .container
            .Kerkuk_kutuphane-master
                .Kerkuk_kutuphane-master-page_title Kerkük Kütüphane Projesi
                .Kerkuk_kutuphane-master-content
                    .Kerkuk_kutuphane-master-content-project1
                        .Kerkuk_kutuphane-master-content-project1-container1
                            .Kerkuk_kutuphane-master-content-project1-container1-1
                                a(href="../../img/kerkuk/kutuphane/1.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kutuphane/1.jpg", alt="")
                            .Kerkuk_kutuphane-master-content-project1-container1-2
                                a(href="../../img/kerkuk/kutuphane/2.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kutuphane/2.jpg", alt="")
                            .Kerkuk_kutuphane-master-content-project1-container1-3
                                a(href="../../img/kerkuk/kutuphane/3.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kutuphane/3.jpg", alt="")
                            .Kerkuk_kutuphane-master-content-project1-container1-4
                                a(href="../../img/kerkuk/kutuphane/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kutuphane/4.jpg", alt="")
                        .Kerkuk_kutuphane-master-content-project1-container2
                            .Kerkuk_kutuphane-master-content-project1-container2-1
                                a(href="../../img/kerkuk/kutuphane/5.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kutuphane/5.jpg", alt="")
                            .Kerkuk_kutuphane-master-content-project1-container2-2
                                a(href="../../img/kerkuk/kutuphane/7.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kutuphane/7.jpg", alt="")
                            .Kerkuk_kutuphane-master-content-project1-container2-3
                                a(href="../../img/kerkuk/kutuphane/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kutuphane/8.jpg", alt="")
                            .Kerkuk_kutuphane-master-content-project1-container2-4
                                a(href="../../img/kerkuk/kutuphane/9.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kutuphane/9.jpg", alt="")
                        .Kerkuk_kutuphane-master-content-project1-container3
                            .Kerkuk_kutuphane-master-content-project1-container3-1
                                a(href="../../img/kerkuk/kutuphane/10.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kutuphane/10.jpg", alt="")
                            .Kerkuk_kutuphane-master-content-project1-container3-2
                                a(href="../../img/kerkuk/kutuphane/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kutuphane/4.jpg", alt="")
                            .Kerkuk_kutuphane-master-content-project1-container3-3
                                a(href="../../img/kerkuk/kutuphane/9.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kutuphane/9.jpg", alt="")
                            