extends ../global/masterpage.pug
block content
    .Kuran
        .container
            .Kuran-master
                .Kuran-master-page_title Kerkük Kuran Kursu
                .Kuran-master-content
                    .Kuran-master-content-project1
                        .Kuran-master-content-project1-container1
                            .Kuran-master-content-project1-container1-1
                                a(href="../../img/kerkuk/kuran/1.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/1.jpg", alt="")
                            .Kuran-master-content-project1-container1-2
                                a(href="../../img/kerkuk/kuran/2.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/2.jpg", alt="")
                            .Kuran-master-content-project1-container1-3
                                a(href="../../img/kerkuk/kuran/3.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/3.jpg", alt="")
                            .Kuran-master-content-project1-container1-4
                                a(href="../../img/kerkuk/kuran/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/4.jpg", alt="")
                        .Kuran-master-content-project1-container2
                            .Kuran-master-content-project1-container2-1
                                a(href="../../img/kerkuk/kuran/5.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/5.jpg", alt="")
                            .Kuran-master-content-project1-container2-2
                                a(href="../../img/kerkuk/kuran/6.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/6.jpg", alt="")
                            .Kuran-master-content-project1-container2-3
                                a(href="../../img/kerkuk/kuran/7.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/7.jpg", alt="")
                            .Kuran-master-content-project1-container2-4
                                a(href="../../img/kerkuk/kuran/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/8.jpg", alt="")
                        .Kuran-master-content-project1-container3
                            .Kuran-master-content-project1-container3-1
                                a(href="../../img/kerkuk/kuran/9.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/9.jpg", alt="")
                            .Kuran-master-content-project1-container3-2
                                a(href="../../img/kerkuk/kuran/10.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/10.jpg", alt="")
                            .Kuran-master-content-project1-container3-3
                                a(href="../../img/kerkuk/kuran/11.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/11.jpg", alt="")
                            .Kuran-master-content-project1-container3-4
                                a(href="../../img/kerkuk/kuran/12.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/12.jpg", alt="")
                        .Kuran-master-content-project1-container4
                            .Kuran-master-content-project1-container4-1
                                a(href="../../img/kerkuk/kuran/13.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/13.jpg", alt="")
                            .Kuran-master-content-project1-container4-2
                                a(href="../../img/kerkuk/kuran/14.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/14.jpg", alt="")
                            .Kuran-master-content-project1-container4-3
                                a(href="../../img/kerkuk/kuran/15.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/15.jpg", alt="")
                            .Kuran-master-content-project1-container4-4
                                a(href="../../img/kerkuk/kuran/16.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/16.jpg", alt="")
                        .Kuran-master-content-project1-container5
                            .Kuran-master-content-project1-container5-1
                                a(href="../../img/kerkuk/kuran/17.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/17.jpg", alt="")
                            .Kuran-master-content-project1-container5-2
                                a(href="../../img/kerkuk/kuran/18.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/18.jpg", alt="")
                            .Kuran-master-content-project1-container5-3
                                a(href="../../img/kerkuk/kuran/19.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/19.jpg", alt="")
                            .Kuran-master-content-project1-container5-4
                                a(href="../../img/kerkuk/kuran/20.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/20.jpg", alt="")
                        .Kuran-master-content-project1-container6
                            .Kuran-master-content-project1-container6-1
                                a(href="../../img/kerkuk/kuran/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/4.jpg", alt="")
                            .Kuran-master-content-project1-container6-2
                                a(href="../../img/kerkuk/kuran/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/8.jpg", alt="")
                            .Kuran-master-content-project1-container6-3
                                a(href="../../img/kerkuk/kuran/12.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/12.jpg", alt="")                
                        .Kuran-master-content-project1-container7
                            .Kuran-master-content-project1-container7-1
                                a(href="../../img/kerkuk/kuran/16.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/16.jpg", alt="")
                            .Kuran-master-content-project1-container7-2
                                a(href="../../img/kerkuk/kuran/20.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/kuran/20.jpg", alt="")                          