extends ../global/masterpage.pug
block content
    .Kerkuk_towers
        .container
            .Kerkuk_towers-master
                .Kerkuk_towers-master-page_title Kerkük Towers
                .Kerkuk_towers-master-content
                    .Kerkuk_towers-master-content-project1
                        .Kerkuk_towers-master-content-project1-container1
                            .Kerkuk_towers-master-content-project1-container1-1
                                a(href="../../img/kerkuk/towers/1.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/1.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container1-2
                                a(href="../../img/kerkuk/towers/2.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/2.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container1-3
                                a(href="../../img/kerkuk/towers/3.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/3.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container1-4
                                a(href="../../img/kerkuk/towers/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/4.jpg", alt="")
                        .Kerkuk_towers-master-content-project1-container2
                            .Kerkuk_towers-master-content-project1-container2-1
                                a(href="../../img/kerkuk/towers/5.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/5.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container2-2
                                a(href="../../img/kerkuk/towers/6.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/6.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container2-3
                                a(href="../../img/kerkuk/towers/7.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/7.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container2-4
                                a(href="../../img/kerkuk/towers/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/8.jpg", alt="")
                        .Kerkuk_towers-master-content-project1-container3
                            .Kerkuk_towers-master-content-project1-container3-1
                                a(href="../../img/kerkuk/towers/9.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/9.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container3-2
                                a(href="../../img/kerkuk/towers/10.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/10.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container3-3
                                a(href="../../img/kerkuk/towers/11.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/11.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container3-4
                                a(href="../../img/kerkuk/towers/12.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/12.jpg", alt="")
                        .Kerkuk_towers-master-content-project1-container4
                            .Kerkuk_towers-master-content-project1-container4-1
                                a(href="../../img/kerkuk/towers/13.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/13.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container4-2
                                a(href="../../img/kerkuk/towers/14.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/14.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container4-3
                                a(href="../../img/kerkuk/towers/15.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/15.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container4-4
                                a(href="../../img/kerkuk/towers/16.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/16.jpg", alt="")
                        .Kerkuk_towers-master-content-project1-container5
                            .Kerkuk_towers-master-content-project1-container5-1
                                a(href="../../img/kerkuk/towers/17.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/17.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container5-2
                                a(href="../../img/kerkuk/towers/18.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/18.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container5-3
                                a(href="../../img/kerkuk/towers/19.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/19.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container5-4
                                a(href="../../img/kerkuk/towers/20.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/20.jpg", alt="")
                        .Kerkuk_towers-master-content-project1-container6
                            .Kerkuk_towers-master-content-project1-container6-1
                                a(href="../../img/kerkuk/towers/21.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/21.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container6-2
                                a(href="../../img/kerkuk/towers/22.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/22.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container6-3
                                a(href="../../img/kerkuk/towers/23.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/23.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container6-4
                                a(href="../../img/kerkuk/towers/24.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/24.jpg", alt="")
                        .Kerkuk_towers-master-content-project1-container7
                            .Kerkuk_towers-master-content-project1-container7-1
                                a(href="../../img/kerkuk/towers/25.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/25.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container7-2
                                a(href="../../img/kerkuk/towers/26.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/26.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container7-3
                                a(href="../../img/kerkuk/towers/27.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/27.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container7-4
                                a(href="../../img/kerkuk/towers/28.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/28.jpg", alt="")
                        .Kerkuk_towers-master-content-project1-container8
                            .Kerkuk_towers-master-content-project1-container7-1
                                a(href="../../img/kerkuk/towers/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/4.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container7-2
                                a(href="../../img/kerkuk/towers/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/8.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container7-3
                                a(href="../../img/kerkuk/towers/12.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/12.jpg", alt="")
                        .Kerkuk_towers-master-content-project1-container9
                            .Kerkuk_towers-master-content-project1-container7-1
                                a(href="../../img/kerkuk/towers/16.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/16.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container7-2
                                a(href="../../img/kerkuk/towers/20.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/20.jpg", alt="")
                            .Kerkuk_towers-master-content-project1-container7-3
                                a(href="../../img/kerkuk/towers/24.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/24.jpg", alt="")
                        .Kerkuk_towers-master-content-project1-container10
                            .Kerkuk_towers-master-content-project1-container7-1
                                a(href="../../img/kerkuk/towers/28.jpg", data-lightbox="mygallery")
                                    img(src="../../img/kerkuk/towers/28.jpg", alt="")
                            
                            