extends ../global/masterpage.pug
block content
    .Mimari
        .container
            .Mimari-master
                .Mimari-master-page_title Mimari Proje ve Tasarım
                .Mimari-master-content
                    .Mimari-master-content-1
                        h1#first_title.Mimari-master-content-1-title Fütüristik Mimari
                        .Mimari-master-content-1-rest
                            .Mimari-master-content-1-rest-img
                            .Mimari-master-content-1-rest-text 
                                p Fütüristtik kendi zamanına göre ileriyi öngörebilen, ilerici- modern çizgiler taşıyan demektir.
                                p Mimarlıkta ve Mimarlık, insan yaşamının içinde geçeceği mekan/mekanları oluşturmak/üretmek amacı ile, yapı/yapı gruplarını kapsayan fiziki çevreyi tasarlamak uğraşına verilen isim. Bu çevre kırsal veya kentsel olabileceği gibi, yapıları veya mekanları kuşatan yakın dış çevre de mimari tasarımın kapsamına girer. Mekan, içinde yaşamın gerçekleştiği fizik ortam olarak tanımlanabilir. Mekanın oluşabilmesi ve üretilebilmesi için yapılara, yaşamın her gün artan çeşitliliği göz önüne alınırsa, oldukça karmaşık bir tasarımda kullanılan terimdir. Ayrıca çağın ötesinde düşünceleri olan filozofların düşünceleri için de kullanılır


                    .Mimari-master-content-2
                        h1.Mimari-master-content-2-title Modern Mimari
                        .Mimari-master-content-2-rest
                            .Mimari-master-content-2-rest-img
                            .Mimari-master-content-2-rest-text
                                p 19. yy’lın endüstri devrimi sonucunda ortaya çıkan, gelişmelere dayanan, günümüzün gereksinmelerine, sanat anlayışına ve yapı teknolojisine uygun mimarlık. Modern mimarlık, tarihsel eski biçimlerin kopyaları yerine özgün tasarıma dayanır. İyi bir yapı, estetik çekicilik kadar kullanılma amacına uygun niteliklere de sahip olmalıdır. Böylece modern mimarlıkta iç mekanların ve planın düzenlenmesi en az dış görünüş kadar önem kazanmıştır.