extends ../global/masterpage.pug
block content
    .Referanslar
        .container
            .Referanslar-master
                .Referanslar-master-page_title Referanslar
                .Referanslar-master-content
                    .Referanslar-master-content-container1
                        .Referanslar-master-content-container1-1
                        .Referanslar-master-content-container1-2
                        .Referanslar-master-content-container1-3
                        .Referanslar-master-content-container1-4
                        .Referanslar-master-content-container1-5
                    .Referanslar-master-content-container2
                        .Referanslar-master-content-container2-1
                        .Referanslar-master-content-container2-2
                        .Referanslar-master-content-container2-3
                        .Referanslar-master-content-container2-4
                        .Referanslar-master-content-container2-5
                    .Referanslar-master-content-container3
                        .Referanslar-master-content-container3-1
                        .Referanslar-master-content-container3-2
                        .Referanslar-master-content-container3-3
                        .Referanslar-master-content-container3-4
                        .Referanslar-master-content-container3-5
                    .Referanslar-master-content-container4
                        .Referanslar-master-content-container4-1
                        .Referanslar-master-content-container4-2
                        .Referanslar-master-content-container4-3
                        .Referanslar-master-content-container4-4
                        .Referanslar-master-content-container4-5
                    .Referanslar-master-content-container5
                        .Referanslar-master-content-container5-1
                        .Referanslar-master-content-container5-2
                        .Referanslar-master-content-container5-3
                        .Referanslar-master-content-container5-4
                        .Referanslar-master-content-container5-5