extends ../global/masterpage.pug
block content
    .Sandavic
        .container
            .Sandavic-master
                .Sandavic-master-page_title Sandaviç Kralı
                .Sandavic-master-content
                    .Sandavic-master-content-project1
                        .Sandavic-master-content-project1-container1
                            .Sandavic-master-content-project1-container1-1
                                a(href="../../img/sandavic/1.jpg", data-lightbox="mygallery")
                                    img(src="../../img/sandavic/1.jpg", alt="")
                            .Sandavic-master-content-project1-container1-2
                                a(href="../../img/sandavic/2.jpg", data-lightbox="mygallery")
                                    img(src="../../img/sandavic/2.jpg", alt="")
                            .Sandavic-master-content-project1-container1-3
                                a(href="../../img/sandavic/3.jpg", data-lightbox="mygallery")
                                    img(src="../../img/sandavic/3.jpg", alt="")
                            .Sandavic-master-content-project1-container1-4
                                a(href="../../img/sandavic/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/sandavic/4.jpg", alt="")
                        .Sandavic-master-content-project1-container2
                            .Sandavic-master-content-project1-container2-1
                                a(href="../../img/sandavic/5.jpg", data-lightbox="mygallery")
                                    img(src="../../img/sandavic/5.jpg", alt="")
                            .Sandavic-master-content-project1-container2-2
                                a(href="../../img/sandavic/6.jpg", data-lightbox="mygallery")
                                    img(src="../../img/sandavic/6.jpg", alt="")
                            .Sandavic-master-content-project1-container2-3
                                a(href="../../img/sandavic/7.jpg", data-lightbox="mygallery")
                                    img(src="../../img/sandavic/7.jpg", alt="")
                            .Sandavic-master-content-project1-container2-4
                                a(href="../../img/sandavic/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/sandavic/8.jpg", alt="")
                        .Sandavic-master-content-project1-container3
                            .Sandavic-master-content-project1-container3-1
                                a(href="../../img/sandavic/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/sandavic/4.jpg", alt="")
                            .Sandavic-master-content-project1-container3-2
                                a(href="../../img/sandavic/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/sandavic/8.jpg", alt="")