extends ../global/masterpage.pug
block content
    .Tamam
        .container
            .Tamam-master
                .Tamam-master-page_title Tamamlanan Projelerimiz
                .Tamam-master-content
                    .Tamam-master-content-container1
                        .Tamam-master-content-container1-proje1
                            .Tamam-master-content-container1-proje1-title 
                                a(href="./duhok-sports-center.pug")
                                    h1 Duhok Sports Center
                            a(href="./duhok-sports-center.pug")
                                .Tamam-master-content-container1-proje1-img 
                                    h4 Daha Fazlası İçin Tıklayın
                        .Tamam-master-content-container1-proje2
                            .Tamam-master-content-container1-proje2-title 
                                a(href="./bahcesehir-villa-projesi.pug")
                                    h1 Bahçeşehir Villa Projesi
                            a(href="./bahcesehir-villa-projesi.pug")
                                .Tamam-master-content-container1-proje2-img 
                                    h4 Daha Fazlası İçin Tıklayın
                        .Tamam-master-content-container1-proje3
                            .Tamam-master-content-container1-proje3-title 
                                a(href="./tato-spor-kompleksi.pug")
                                    h1 TATO Spor Kompleksi
                            a(href="././tato-spor-kompleksi.pug")
                                .Tamam-master-content-container1-proje3-img 
                                    h4 Daha Fazlası İçin Tıklayın
                    .Tamam-master-content-container2
                        .Tamam-master-content-container2-proje1
                            .Tamam-master-content-container2-proje1-title 
                                a(href="./kerkuk-kutuphane-projesi.pug")
                                    h1 Kerkük Kütüphane Projesi
                            a(href="./kerkuk-kutuphane-projesi.pug")
                                .Tamam-master-content-container2-proje1-img 
                                    h4 Daha Fazlası İçin Tıklayın
                        .Tamam-master-content-container2-proje2
                            .Tamam-master-content-container2-proje2-title 
                                a(href="./kerkuk-towers.pug")
                                    h1 Kerkük Towers
                            a(href="./kerkuk-towers.pug")
                                .Tamam-master-content-container2-proje2-img 
                                    h4 Daha Fazlası İçin Tıklayın
                        .Tamam-master-content-container2-proje3
                            .Tamam-master-content-container2-proje3-title 
                                a(href="./kerkuk-plaza.pug")
                                    h1 Kerkük Plaza
                            a(href="./kerkuk-plaza.pug")
                                .Tamam-master-content-container2-proje3-img 
                                    h4 Daha Fazlası İçin Tıklayın
                    .Tamam-master-content-container3
                        .Tamam-master-content-container3-proje1
                            .Tamam-master-content-container3-proje1-title 
                                a(href="./kerkuk-kuran-kursu.pug")
                                    h1 Kerkük Kuran Kursu
                            a(href="./kerkuk-kuran-kursu.pug")
                                .Tamam-master-content-container3-proje1-img 
                                    h4 Daha Fazlası İçin Tıklayın
                        .Tamam-master-content-container3-proje2
                            .Tamam-master-content-container3-proje2-title 
                                a(href="./balkon-cafe-erbil.pug")
                                    h1 Balkon Cafe Erbil
                            a(href="./balkon-cafe-erbil.pug")
                                .Tamam-master-content-container3-proje2-img 
                                    h4 Daha Fazlası İçin Tıklayın
                        .Tamam-master-content-container3-proje3
                            .Tamam-master-content-container3-proje3-title 
                                a(href="./balkon-cafe-kuveyt.pug")
                                    h1 Balkon Cafe Kuveyt
                            a(href="./balkon-cafe-kuveyt.pug")
                                .Tamam-master-content-container3-proje3-img 
                                    h4 Daha Fazlası İçin Tıklayın
                    .Tamam-master-content-container4
                        .Tamam-master-content-container4-proje1
                            .Tamam-master-content-container4-proje1-title 
                                a(href="./torunlar-gyo-otopark.pug")
                                    h1 Torunlar GYO Otopark
                            a(href="./torunlar-gyo-otopark.pug")
                                .Tamam-master-content-container4-proje1-img 
                                    h4 Daha Fazlası İçin Tıklayın
                        .Tamam-master-content-container4-proje2
                            .Tamam-master-content-container4-proje2-title 
                                a(href="./sandavic-krali.pug")
                                    h1 Sandaviç Kralı
                            a(href="./sandavic-krali.pug")
                                .Tamam-master-content-container4-proje2-img 
                                    h4 Daha Fazlası İçin Tıklayın
                        .Tamam-master-content-container4-proje3
                            .Tamam-master-content-container4-proje3-title 
                                a(href="./ibb-agac-as-yol-cizgi-projesi.pug")
                                    h1 İBB Ağaç AŞ Yol Çizgi Projesi
                            a(href="./ibb-agac-as-yol-cizgi-projesi.pug")
                                .Tamam-master-content-container4-proje3-img 
                                    h4 Daha Fazlası İçin Tıklayın
                    //- .Tamam-master-content-container5
                    //-     .Tamam-master-content-container5-proje1
                    //-         .Tamam-master-content-container5-proje1-title 
                    //-             a(href="./sandavic-krali.pug")
                    //-                 h1 Sandaviç Kralı
                    //-         a(href="./sandavic-krali.pug")
                    //-             .Tamam-master-content-container5-proje1-img 
                    //-                 h4 Daha Fazlası İçin Tıklayın
                        //- .Tamam-master-content-container5-proje2
                        //-     .Tamam-master-content-container5-proje2-title 
                        //-         a(href="./yesilkoy-balkon-cafe.pug")
                        //-             h1 Kerkük Kuran Kursu
                        //-     a(href="./yesilkoy-balkon-cafe.pug")
                        //-         .Tamam-master-content-container5-proje2-img 
                        //-             h4 Daha Fazlası İçin Tıklayın
                        //- .Tamam-master-content-container5-proje3
                        //-     .Tamam-master-content-container5-proje3-title 
                        //-         a(href="./yesilkoy-balkon-cafe.pug")
                        //-             h1 Torunlar GYO Otopark
                        //-     a(href="./yesilkoy-balkon-cafe.pug")
                        //-         .Tamam-master-content-container5-proje3-img 
                        //-             h4 Daha Fazlası İçin Tıklayın
