extends ../global/masterpage.pug
block content
    .Tamam
        .container
            .Tamam-master
                .Tamam-master-page_title Tamamlanan Projelerimiz
                .Tamam-master-content
                    .Tamam-master-content-container1
                        .Tamam-master-content-container1-proje1
                            .Tamam-master-content-container1-proje1-title 
                                a(href="./duhok-sports-center.pug")
                                    h1 Duhok Sports Center
                            a(href="./duhok-sports-center.pug")
                                .Tamam-master-content-container1-proje1-img 
                                    h4 Daha Fazlası İçin Tıklayın
                        .Tamam-master-content-container1-proje2
                            .Tamam-master-content-container1-proje2-title 
                                a(href="./bahcesehir-tadilat-projesi.pug")
                                    h1 Bahçeşehir Tadilat Projesi
                            a(href="./bahcesehir-tadilat-projesi.pug")
                                .Tamam-master-content-container1-proje2-img 
                                    h4 Daha Fazlası İçin Tıklayın
                        .Tamam-master-content-container1-proje3
                            .Tamam-master-content-container1-proje3-title 
                                a(href="./florya-fapel-restaurant.pug")
                                    h1 Florya Fapel Restaurant
                            a(href="./florya-fapel-restaurant.pug")
                                .Tamam-master-content-container1-proje3-img 
                                    h4 Daha Fazlası İçin Tıklayın
                    .Tamam-master-content-container2
                        .Tamam-master-content-container2-proje1
                            .Tamam-master-content-container2-proje1-title 
                                a(href="./kerkuk-kutuphane-projesi.pug")
                                    h1 Kerkük Kütüphane Projesi
                            a(href="./kerkuk-kutuphane-projesi.pug")
                                .Tamam-master-content-container2-proje1-img 
                                    h4 Daha Fazlası İçin Tıklayın
                        .Tamam-master-content-container2-proje2
                            .Tamam-master-content-container2-proje2-title 
                                a(href="./yesilkoy-balkon-cafe.pug")
                                    h1 Yeşilköy Balkon Cafe
                            a(href="./yesilkoy-balkon-cafe.pug")
                                .Tamam-master-content-container2-proje2-img 
                                    h4 Daha Fazlası İçin Tıklayın
                    .Tamam-master-content-container3
                        //- .Tamam-master-content-container3-proje1
                        //-     .Tamam-master-content-container3-proje1-title 
                        //-         a(href="./yesilkoy-balkon-cafe.pug")
                        //-             h1 Yeşilköy Balkon Cafe
                        //-     a(href="./yesilkoy-balkon-cafe.pug")
                        //-         .Tamam-master-content-container3-proje1-img 
                        //-             h4 Daha Fazlası İçin Tıklayın
