extends ../global/masterpage.pug
block content
    .Tato
        .container
            .Tato-master
                .Tato-master-page_title TATO Spor Kompleksi
                .Tato-master-content
                    .Tato-master-content-project1
                        .Tato-master-content-project1-container1
                            .Tato-master-content-project1-container1-1
                                a(href="../../img/tato/1.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/1.jpg", alt="")
                            .Tato-master-content-project1-container1-2
                                a(href="../../img/tato/2.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/2.jpg", alt="")
                            .Tato-master-content-project1-container1-3
                                a(href="../../img/tato/3.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/3.jpg", alt="")
                            .Tato-master-content-project1-container1-4
                                a(href="../../img/tato/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/4.jpg", alt="")
                        .Tato-master-content-project1-container2
                            .Tato-master-content-project1-container2-1
                                a(href="../../img/tato/5.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/5.jpg", alt="")
                            .Tato-master-content-project1-container2-2
                                a(href="../../img/tato/6.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/6.jpg", alt="")
                            .Tato-master-content-project1-container2-3
                                a(href="../../img/tato/7.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/7.jpg", alt="")
                            .Tato-master-content-project1-container2-4
                                a(href="../../img/tato/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/8.jpg", alt="")
                        .Tato-master-content-project1-container3
                            .Tato-master-content-project1-container3-1
                                a(href="../../img/tato/9.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/9.jpg", alt="")
                            .Tato-master-content-project1-container3-2
                                a(href="../../img/tato/10.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/10.jpg", alt="")
                            .Tato-master-content-project1-container3-3
                                a(href="../../img/tato/11.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/11.jpg", alt="")
                            .Tato-master-content-project1-container3-4
                                a(href="../../img/tato/12.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/12.jpg", alt="")
                        .Tato-master-content-project1-container4
                            .Tato-master-content-project1-container4-1
                                a(href="../../img/tato/13.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/13.jpg", alt="")
                            .Tato-master-content-project1-container4-2
                                a(href="../../img/tato/14.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/14.jpg", alt="")
                            .Tato-master-content-project1-container4-3
                                a(href="../../img/tato/15.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/15.jpg", alt="")
                            .Tato-master-content-project1-container4-4
                                a(href="../../img/tato/16.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/16.jpg", alt="")
                        .Tato-master-content-project1-container5
                            .Tato-master-content-project1-container5-1
                                a(href="../../img/tato/17.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/17.jpg", alt="")
                            .Tato-master-content-project1-container5-2
                                a(href="../../img/tato/18.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/18.jpg", alt="")
                            .Tato-master-content-project1-container5-3
                                a(href="../../img/tato/19.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/19.jpg", alt="")
                            .Tato-master-content-project1-container5-4
                                a(href="../../img/tato/20.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/20.jpg", alt="")
                        .Tato-master-content-project1-container6
                            .Tato-master-content-project1-container6-1
                                a(href="../../img/tato/21.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/21.jpg", alt="")
                            .Tato-master-content-project1-container6-2
                                a(href="../../img/tato/22.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/22.jpg", alt="")
                            .Tato-master-content-project1-container6-3
                                a(href="../../img/tato/23.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/23.jpg", alt="")
                            .Tato-master-content-project1-container6-4
                                a(href="../../img/tato/24.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/24.jpg", alt="")
                        .Tato-master-content-project1-container7
                            .Tato-master-content-project1-container7-1
                                a(href="../../img/tato/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/4.jpg", alt="")
                            .Tato-master-content-project1-container7-2
                                a(href="../../img/tato/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/8.jpg", alt="")
                            .Tato-master-content-project1-container7-3
                                a(href="../../img/tato/12.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/12.jpg", alt="")
                        .Tato-master-content-project1-container8
                            .Tato-master-content-project1-container8-1
                                a(href="../../img/tato/16.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/16.jpg", alt="")
                            .Tato-master-content-project1-container8-2
                                a(href="../../img/tato/20.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/20.jpg", alt="")
                            .Tato-master-content-project1-container8-3
                                a(href="../../img/tato/24.jpg", data-lightbox="mygallery")
                                    img(src="../../img/tato/24.jpg", alt="")