extends ../global/masterpage.pug
block content
    .Torunlar
        .container
            .Torunlar-master
                .Torunlar-master-page_title Torunlar GYO Otopark
                .Torunlar-master-content
                    .Torunlar-master-content-project1
                        .Torunlar-master-content-project1-container1
                            .Torunlar-master-content-project1-container1-1
                                a(href="../../img/torunlar/1.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/1.jpg", alt="")
                            .Torunlar-master-content-project1-container1-2
                                a(href="../../img/torunlar/2.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/2.jpg", alt="")
                            .Torunlar-master-content-project1-container1-3
                                a(href="../../img/torunlar/3.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/3.jpg", alt="")
                            .Torunlar-master-content-project1-container1-4
                                a(href="../../img/torunlar/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/4.jpg", alt="")
                        .Torunlar-master-content-project1-container2
                            .Torunlar-master-content-project1-container2-1
                                a(href="../../img/torunlar/5.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/5.jpg", alt="")
                            .Torunlar-master-content-project1-container2-2
                                a(href="../../img/torunlar/6.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/6.jpg", alt="")
                            .Torunlar-master-content-project1-container2-3
                                a(href="../../img/torunlar/7.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/7.jpg", alt="")
                            .Torunlar-master-content-project1-container2-4
                                a(href="../../img/torunlar/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/8.jpg", alt="")
                        .Torunlar-master-content-project1-container3
                            .Torunlar-master-content-project1-container3-1
                                a(href="../../img/torunlar/9.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/9.jpg", alt="")
                            .Torunlar-master-content-project1-container3-2
                                a(href="../../img/torunlar/10.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/10.jpg", alt="")
                            .Torunlar-master-content-project1-container3-3
                                a(href="../../img/torunlar/11.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/11.jpg", alt="")
                            .Torunlar-master-content-project1-container3-4
                                a(href="../../img/torunlar/12.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/12.jpg", alt="")
                        .Torunlar-master-content-project1-container4
                            .Torunlar-master-content-project1-container4-1
                                a(href="../../img/torunlar/13.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/13.jpg", alt="")
                            .Torunlar-master-content-project1-container4-2
                                a(href="../../img/torunlar/14.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/14.jpg", alt="")
                            .Torunlar-master-content-project1-container4-3
                                a(href="../../img/torunlar/15.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/15.jpg", alt="")
                            .Torunlar-master-content-project1-container4-4
                                a(href="../../img/torunlar/16.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/16.jpg", alt="")
                        .Torunlar-master-content-project1-container5
                            .Torunlar-master-content-project1-container5-1
                                a(href="../../img/torunlar/17.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/17.jpg", alt="")
                            .Torunlar-master-content-project1-container5-2
                                a(href="../../img/torunlar/18.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/18.jpg", alt="")
                            .Torunlar-master-content-project1-container5-3
                                a(href="../../img/torunlar/19.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/19.jpg", alt="")
                            .Torunlar-master-content-project1-container5-4
                                a(href="../../img/torunlar/20.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/20.jpg", alt="")
                        .Torunlar-master-content-project1-container6
                            .Torunlar-master-content-project1-container6-1
                                a(href="../../img/torunlar/21.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/21.jpg", alt="")
                            .Torunlar-master-content-project1-container6-2
                                a(href="../../img/torunlar/22.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/22.jpg", alt="")
                            .Torunlar-master-content-project1-container6-3
                                a(href="../../img/torunlar/23.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/23.jpg", alt="")                
                            .Torunlar-master-content-project1-container6-4
                                a(href="../../img/torunlar/24.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/24.jpg", alt="")                
                        .Torunlar-master-content-project1-container7
                            .Torunlar-master-content-project1-container7-1
                                a(href="../../img/torunlar/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/4.jpg", alt="")
                            .Torunlar-master-content-project1-container7-2
                                a(href="../../img/torunlar/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/8.jpg", alt="")
                            .Torunlar-master-content-project1-container7-3
                                a(href="../../img/torunlar/12.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/12.jpg", alt="")                              
                        .Torunlar-master-content-project1-container8
                            .Torunlar-master-content-project1-container8-1
                                a(href="../../img/torunlar/16.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/16.jpg", alt="")
                            .Torunlar-master-content-project1-container8-2
                                a(href="../../img/torunlar/20.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/20.jpg", alt="")    
                            .Torunlar-master-content-project1-container8-3
                                a(href="../../img/torunlar/24.jpg", data-lightbox="mygallery")
                                    img(src="../../img/torunlar/24.jpg", alt="")    
                        