extends ../global/masterpage.pug
block content
    .Trafik
        .container
            .Trafik-master
                .Trafik-master-page_title Trafik Güvenliği
                .Trafik-master-content
                    .Trafik-master-content-1
                        h1#first_title.Trafik-master-content-1-title Yatay Trafik İşaretleri (Yol Çizgileri)
                        .Trafik-master-content-1-rest
                            .Trafik-master-content-1-rest-img
                    .Trafik-master-content-2
                        h1.Trafik-master-content-2-title Hazır Trafik İşaret ve Sembolleri ile Oyun Alanları
                        .Trafik-master-content-2-rest
                            .Trafik-master-content-2-rest-img
                            //- .Trafik-master-content-2-rest-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .Trafik-master-content-3
                        h1.Trafik-master-content-3-title Ekipman ve Aksesuar
                        .Trafik-master-content-3-rest
                            .Trafik-master-content-3-rest-img
                            //- .Trafik-master-content-3-rest-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .Trafik-master-content-4
                        h1.Trafik-master-content-4-title Elastik Tip Köprü Genleşme Derzi
                        .Trafik-master-content-4-rest
                            .Trafik-master-content-4-rest-img
                            //- .Trafik-master-content-4-rest-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
