extends ../global/masterpage.pug
block content
    .Balkon
        .container
            .Balkon-master
                .Balkon-master-page_title Yeşilköy Balkon Cafe
                .Balkon-master-content
                    .Balkon-master-content-project1
                        .Balkon-master-content-project1-container1
                            .Balkon-master-content-project1-container1-1
                                a(href="../../img/balkon/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon/4.jpg", alt="")
                            .Balkon-master-content-project1-container1-2
                                a(href="../../img/balkon/2.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon/2.jpg", alt="")
                            .Balkon-master-content-project1-container1-3
                                a(href="../../img/balkon/3.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon/3.jpg", alt="")
                            .Balkon-master-content-project1-container1-4
                                a(href="../../img/balkon/5.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon/5.jpg", alt="")
                        .Balkon-master-content-project1-container2
                            .Balkon-master-content-project1-container2-1
                                a(href="../../img/balkon/6.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon/6.jpg", alt="")
                            .Balkon-master-content-project1-container2-2
                                a(href="../../img/balkon/7.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon/7.jpg", alt="")
                            .Balkon-master-content-project1-container2-3
                                a(href="../../img/balkon/8.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon/8.jpg", alt="")
                            .Balkon-master-content-project1-container2-4
                                a(href="../../img/balkon/9.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon/9.jpg", alt="")
                        .Balkon-master-content-project1-container3
                            .Balkon-master-content-project1-container3-1
                                a(href="../../img/balkon/10.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon/10.jpg", alt="")
                            .Balkon-master-content-project1-container3-2
                                a(href="../../img/balkon/11.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon/11.jpg", alt="")
                            .Balkon-master-content-project1-container3-3
                                a(href="../../img/balkon/12.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon/12.jpg", alt="")
                            .Balkon-master-content-project1-container3-4
                                a(href="../../img/balkon/1.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon/1.jpg", alt="")
                        .Balkon-master-content-project1-container4
                            .Balkon-master-content-project1-container4-1
                                a(href="../../img/balkon/5.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon/5.jpg", alt="")
                            .Balkon-master-content-project1-container4-2
                                a(href="../../img/balkon/9.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon/9.jpg", alt="")
                            .Balkon-master-content-project1-container4-3
                                a(href="../../img/balkon/1.jpg", data-lightbox="mygallery")
                                    img(src="../../img/balkon/1.jpg", alt="")
                        