extends ../global/masterpage.pug
block content
    .Bim
        .container
            .Bim-master
                .Bim-master-page_title Yeşil Bina
                .Bim-master-content
                    .Bim-master-content-context
                        .Bim-master-content-context-title
                            h3 BIM Nedir?
                        .Bim-master-content-context-text
                            p BIM (Building Information Modeling: Yapı Bilgi Modellemesi, Yapı Bilgi Sistemi) en temel tanımı ile; birbirinden farklı mimari projelerin tasarımında, inşasında ve sürdürülmesinde görev üstlenenlerin ortak olarak yararlanabileceği 3 boyutlu bir bilgi paylaşım sürecidir. ARCHICAD gibi bu sürecin yönetilmesini sağlayan yazılımlar sayesinde işverenlerden mühendislere, müteahhitlerden mimarlara projede görev yapan farklı aşama ve katmanlardaki herkes projenin süreciyle ilgili güncel bilgilere ve detaylara kolayca ulaşabilmektedir.
                            p Yani yapı Bilgi Sistemi, bilgi alışverişi ve birlikte çalışmayı kolaylaştırmak için bina yapım sürecinin 3 boyutlu ve dijital olarak temsil edilmesidir.
                            p BIM’e geçişinin en önemli amacı bünyesindeki farklı mühendislik dalları arasında ortak bir dil oluşturmak ve bu sayede metraj sistematiği kurup, doğru metrajlara ulaşmaktır. Genellikle sektörde kullanılan CAD sistemli programlar yerine BIM altyapılı programları kullanmak çalışanlar için zor olmaktadır.
                        a#bim_img(href="../../img/bim-1.png", data-lightbox="mygallery")
                            img#bim_img(src="../../img/bim-1.png", alt="")
                        .Bim-master-content-context-title
                            h3 BIM’in Avantajları Nelerdir?
                        .Bim-master-content-context-text
                            p Projenin ilerleyen dönemlerinde oluşabilecek problemleri henüz tasarım aşamasındayken oluşmadan tespit etmeyi sağlar.
                            p Projede çalışan tüm birimlerinde senkronize şekilde çalışmasına ve proje sürecinin bir bütün şeklinde ilerlemesine imkân tanır.
                            p Maliyet hesaplama aşamasında hata paylarını minimuma indirir ve proje süresince kontrollü nakit akışını devam ettirir.
                            p İşlerin tekrarlanmasını engelleyerek zaman kaybından ve ekstra masraftan kurtarır.
                            p Projenin tüm detaylarını mimari modelleme ve mimari görselleştirme yoluyla görünür kılarak tüm birimlerin motivasyonunu, verimliliğini ve üretkenliğini arttırır.
                            p Projedeki dataları, daha sonraki aşamalarda da kullanılabilmesi için saklar.
                            p Projeye dair verilebilecek kararların ortaya çıkmasını ve sonuçlanmasını kolaylaştırır.
                            p Belirsizlikleri ortadan kaldırarak tüm taraflar için şeffaf ve net bir iş akışına imkân tanır.
                            p Oluşabilecek atıkların en aza indirilmesi konusunda destek olur ve böylece çevreye duyarlı projelerin artışını hızlandırır.
                        a#bim_img(href="../../img/bim-2.png", data-lightbox="mygallery")
                            img#bim_img(src="../../img/bim-2.png", alt="")
                        .Bim-master-content-context-title
                            h3 Allpan 3D Model Uygulamaları
                        .Bim-master-content-context-text
                            p Allplan programını açıklamak gerekirse temel olarak inşaat sektörüne özel çözümlere sahip modelleme programıdır. Modelleme, revizyon takipleri ve metraj konularında hızlı ve sistematik bir şekilde çözüm olanağı sağlar.
                        a#bim_img(href="../../img/bim-3.png", data-lightbox="mygallery")
                            img#bim_img(src="../../img/bim-3.png", alt="")
                        .Bim-master-content-context-title
                            h3 Allplan Avantajları
                        .Bim-master-content-context-text
                            p 1- Paydaşlar ve şirket içerisinde ortak dilin konuşulmasına katkı sağlamak
                            p 2- Hızlı ve doğru metrajın sistematik şekilde alınması,
                            p 3- Projelendirme sırasında, farklı disiplinler arası (elektrik, mekanik, statik, mimari) hızlı ve etkili çözümlere katkı sağlamak,
                            p 4- Yapı Bilgi sisteminin temel adımlarını olan ERP, İs Programları ve Maliyet analizlerini 3D model ile senkronize kullanımı
                        .Bim-master-content-context-title
                            h3 Allplan Kaba Metraj Örneği
                        a#bim_img(href="../../img/bim-4.png", data-lightbox="mygallery")
                            img#bim_img(src="../../img/bim-4.png", alt="")
                        .Bim-master-content-context-title
                            h3 Allplan Kalıp Metraj Örneği
                        .Bim-master-content-context-text
                            p Allplan modelleri, yapı elemanları, metraj dosyaları kullanımında esneklik sağlamak amacıyla belirli bir algoritmik kodlama ile adlandırılır.
                        a#bim_img(href="../../img/bim-5.png", data-lightbox="mygallery")
                            img#bim_img(src="../../img/bim-5.png", alt="")
                        .Bim-master-content-context-title
                            h3 Allplan Model Örneği
                        a#bim_img(href="../../img/bim-6.png", data-lightbox="mygallery")
                            img#bim_img(src="../../img/bim-6.png", alt="")
                        .Bim-master-content-context-title
                            h3 Allplan Mahal  Malzeme Atama  ve Algoritmik Mahal Kodlamaları
                        .Bim-master-content-context-text
                            p İş programı adam saatleri güncellenmiştir ve kat, dilatasyon, mahal ve aktivite kodu detayında, altyüklenici kodu ve disiplinleri ile birlikte metrajlara ulaşılmıştır. Modelleme sırasında yapılan süperpozeler ile proje revizyonları önceden tespit edilmiştir.
                        a#bim_img(href="../../img/bim-7.png", data-lightbox="mygallery")
                            img#bim_img(src="../../img/bim-7.png", alt="")
                        .Bim-master-content-context-text
                            p Projelerde kesin hakedişlerin Allplan programı üzerinden alınarak BIM sürecinin devam etmesi planlanmıştır. Örnek Model-İş Programı-Maliyet simulasyonu yapılaktadır. Detaylandırılarak şantiyelerde depo alanları değişimi, vinçlerin zamana bağlı değişimi gibi mobilizasyon uygulamaları yapılabilir.
                        a#bim_img(href="../../img/bim-8.png", data-lightbox="mygallery")
                            img#bim_img(src="../../img/bim-8.png", alt="")
                        .Bim-master-content-context-text
                            p Allplan programı istenilen tüm bilgisayarlara kurulabilir. Yetkilendirme sırasında belirlenen 3D dizayn ya da değişiklik yapma yetkisi belirlenen kişiler, lisans havuzundan lisans alarak programı açabilir ve değişiklik yapabilir. Aynı anda lisans sayısı kadar bilgisayar bu hakka sahip olabilir. Dizayn yetkisi olmayan bilgisayarlar ise programı sayı sınırlaması olmadan viewer olarak açar ve ilgili metraj dokümanlarına ulaşabilir. Aynı anda aynı projelerde farklı kişiler çalışabilir.
                        .Bim-master-content-context-title
                            h3 3D Model Çalışması
                        a#bim_img(href="../../img/bim-9.png", data-lightbox="mygallery")
                            img#bim_img(src="../../img/bim-9.png", alt="")
                        .Bim-master-content-context-text
                            p Allplan modelleri, tarafımıza ulaşan paydaşların kullandığı her türlü çizim dosyası üzerinden oluşturulabilir. ( örn. .pdf, .dwg, . rvt, .ifc, vs.). Sektörel olarak Autocad kullanımını baz alırsak 2D bir dwg dosyasını altlık alarak daha önce hazırlanmış olan 3D yapı elemanları modele işlenir.
                        a#bim_img(href="../../img/bim-10.png", data-lightbox="mygallery")
                            img#bim_img(src="../../img/bim-10.png", alt="")
                        .Bim-master-content-context-title
                            h3 4D Uygulamaları ve İş Programları
                        a#bim_img(href="../../img/bim-11.png", data-lightbox="mygallery")
                            img#bim_img(src="../../img/bim-11.png", alt="")
                        .Bim-master-content-context-text
                            p#p_middle Primavera İş Programı Örneği
                        .Bim-master-content-context-title
                            h3 3D Model – İş programı Senkronizasyonu
                        .Bim-master-content-context-text
                            p Oluşturulan 3D Model önceden hazırlanmış olan katmanlar ile oluşturulur. Model .IFC formatında ve MS-Project ya da Primevera ‘da oluşturulan iş programı, yardımcı ara programlara aktarılır (Navisworks, Itwo, Synchro v.b.). Modelin istenen katmanları Aktivite ID’ler ile eşleştirilir. Bu eşleştirme sayesinde proje akışı simule edilerek, olası problemler önceden saptanmış olur.
                        a#bim_img(href="../../img/bim-12.png", data-lightbox="mygallery")
                            img#bim_img(src="../../img/bim-12.png", alt="")
                        .Bim-master-content-context-title
                            h3 4D Model Uygulaması
                        .Bim-master-content-context-text
                            p Bu simülasyonlar proje yönetimi isteği doğrultusunda çeşitlendirilebilir. Şantiye yollarının zamana bağlı değişimi, Vinç sayılarının ve yerleşimlerinin zamana bağlı değişimi, mobilizasyonun, depo alanlarının kapasitelerinin zamana bağlı değişimleri implantasyonun çeşitlemelerine örnektir.
                        a#bim_img(href="../../img/bim-13.png", data-lightbox="mygallery")
                            img#bim_img(src="../../img/bim-13.png", alt="")
                        .Bim-master-content-context-text
                            p Bazı firmalar BIM’den çok önemli oranda faydalanmakta ve rakip firmalarla rekabet gücünü artırabilmektedir. Fakat BIM kullanımının Türkiye geneli itibariyle henüz tam manasıyla yaygınlaşmadığı görülmektedir.
                            p BIM için verilen eğitimlerin yalnız firma odaklı değil bireysel odaklı olması gerektiği düşünülmelidir. Başarı sağlanabilmesi için mühendislik dallarının beraberce çalışması gerekmektedir. BIM kullanımı İngiltere ve Almanya gibi ülkelerde 2500 m² nin üstündeki yapılarda zorunlu hale getirildiği gibi ülkemizde de belirli standartlara oturtulması programın yaygınlaşması gerekmektedir.
                        .Bim-master-content-context-title
                            h3 Sıkça Sorulan Sorular (SSS)
                        .Bim-master-content-context-text
                            p
                                strong Proje bitiminde o projeye ait tüm veriler saklanabiliyor mu?
                            p - Evet saklanabiliyor.
                        .Bim-master-content-context-text
                            p
                                strong Akıllı nesnelerin ne olduğunu ve nasıl kullanıldıklarına dair örnek verebilir misiniz?
                            p - Örneğin: Çatı uzay kafes akıllı nesne tarafından modellenecekse en boy ölçülerini
                        .Bim-master-content-context-text
                            p
                                strong  BIM’in faydaları ve avantajları nelerdir?
                            p - En önemli avantajları kısaca doğru metraj yapabilmek ve yeniden yapımın azaltılması ve proje sonuçlarının iyileştirilmesi gibi.
                        .Bim-master-content-context-text
                            p
                                strong  Doğru metraj almanın BIM’e geçişteki teşvik ediciliği nedir?
                            p - 2D üzerinden elle yapılan metraj, uzun yorucu ve hataya açık bir yöntemdir. 3D software sayesinde sistematik oluşturulmuş bir metraj çalışması teklif planlanama, koordinasyon proje kontrol ve cost control gibi bir çok departman tarafından kullanılabilir. Revizyonların kolayca yapılması metraj çıkaran kişiyi teşvik eder.
                        .Bim-master-content-context-text
                            p
                                strong  Allplan ile gerçekleştirilen metraj oluşturma sistematiği nedir?
                            p - 2D DWG Allplan içerisine alınır. Önceden tanımlı şablonlar aracılığı ile 3D modellenir. İstenilen detada metraj tabloları oluşturulur.
                        .Bim-master-content-context-text
                            p
                                strong  Metraj dışında 4D modeller ve çakışma analizleri yapılıyor mu ? Bu süreçler nasıl gerçekleştiriliyor?
                            p - 4D modeller teklif aşamasında ihale kapsamında yapılıyor. İş programı senaryolarının anlatımı için ve şantiye oraganizasyon planları için.
                        .Bim-master-content-context-text
                            p
                                strong  Allplan’dan diğer disiplinden paydaşlar için dosya paylaşımı hangi formatta oluyor?
                            p - Paylaşımlar IFC, DWG ve XLSX formatlarında oluyor.







