extends ../global/masterpage.pug
block content
    .Zb2
        .container
            .Zb2-master
                .Zb2-master-page_title ZB2 Konut Projesi
                .Zb2-master-content
                    .Zb2-master-content-project1
                        .Zb2-master-content-project1-container1
                            .Zb2-master-content-project1-container1-1
                                a(href="../../img/zb2/zb2-1.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb2/zb2-1.jpg", alt="")
                            .Zb2-master-content-project1-container1-2
                                a(href="../../img/zb2/zb2-2.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb2/zb2-2.jpg", alt="")
                            .Zb2-master-content-project1-container1-3
                                a(href="../../img/zb2/zb2-3.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb2/zb2-3.jpg", alt="")
                            .Zb2-master-content-project1-container1-4
                                a(href="../../img/zb2/zb2-4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb2/zb2-4.jpg", alt="")
                        
                        .Zb2-master-content-project1-container2
                            .Zb2-master-content-project1-container2-1
                                a(href="../../img/zb2/zb2-4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb2/zb2-4.jpg", alt="")
                            