extends ../global/masterpage.pug
block content
    .Zb
        .container
            .Zb-master
                .Zb-master-page_title Zeytinburnu Kentsel Yenileme Projesi
                .Zb-master-content
                    .Zb-master-content-project1
                        .Zb-master-content-project1-container1
                            .Zb-master-content-project1-container1-1
                                a(href="../../img/zb/1.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb/1.jpg", alt="")
                            .Zb-master-content-project1-container1-2
                                a(href="../../img/zb/2.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb/2.jpg", alt="")
                            .Zb-master-content-project1-container1-3
                                a(href="../../img/zb/3.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb/3.jpg", alt="")
                            .Zb-master-content-project1-container1-4
                                a(href="../../img/zb/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb/4.jpg", alt="")
                        .Zb-master-content-project1-container2
                            .Zb-master-content-project1-container2-1
                                a(href="../../img/zb/6.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb/6.jpg", alt="")
                            .Zb-master-content-project1-container2-2
                                a(href="../../img/zb/15.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb/15.jpg", alt="")
                            .Zb-master-content-project1-container2-3
                                a(href="../../img/zb/16.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb/16.jpg", alt="")
                            .Zb-master-content-project1-container2-4
                                a(href="../../img/zb/18.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb/18.jpg", alt="")
                        .Zb-master-content-project1-container3
                            .Zb-master-content-project1-container3-1
                                a(href="../../img/zb/19.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb/19.jpg", alt="")
                            .Zb-master-content-project1-container3-2
                                a(href="../../img/zb/20.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb/20.jpg", alt="")
                            .Zb-master-content-project1-container3-3
                                a(href="../../img/zb/21.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb/21.jpg", alt="")
                            .Zb-master-content-project1-container3-4
                                a(href="../../img/zb/22.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb/22.jpg", alt="")
                        .Zb-master-content-project1-container4
                            .Zb-master-content-project1-container4-1
                                a(href="../../img/zb/23.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb/23.jpg", alt="")
                            .Zb-master-content-project1-container4-2
                                a(href="../../img/zb/24.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb/24.jpg", alt="")
                            .Zb-master-content-project1-container4-3
                                a(href="../../img/zb/25.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb/25.jpg", alt="")
                            .Zb-master-content-project1-container4-4
                                a(href="../../img/zb/26.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb/26.jpg", alt="")
                        .Zb-master-content-project1-container5
                            .Zb-master-content-project1-container5-1
                                a(href="../../img/zb/27.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb/27.jpg", alt="")
                            .Zb-master-content-project1-container5-2
                                a(href="../../img/zb/4.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb/4.jpg", alt="")
                            .Zb-master-content-project1-container5-3
                                a(href="../../img/zb/18.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb/18.jpg", alt="")
                        .Zb-master-content-project1-container6
                            .Zb-master-content-project1-container6-1
                                a(href="../../img/zb/22.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb/22.jpg", alt="")
                            .Zb-master-content-project1-container6-2
                                a(href="../../img/zb/26.jpg", data-lightbox="mygallery")
                                    img(src="../../img/zb/26.jpg", alt="")
                        //-     .Zb-master-content-project1-container6-3
                        //-         a(href="../../img/zb/1.jpg", data-lightbox="mygallery", data-title="Zeytinburnu Kentsel Yenileme Projesi")
                        //-             img(src="../../img/zb/1.jpg", alt="")
                        //- .Zb-master-content-project1-container7
                        //-     .Zb-master-content-project1-container7-1
                        //-         a(href="../../img/zb/1.jpg", data-lightbox="mygallery")
                        //-             img(src="../../img/zb/1.jpg", alt="")
                            
                    //- .Devam-master-content-project2
                    