h1 {
    color: red;
}
body {
    background-color: white;
    // background-color: #222224;

}

.bg {
    left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
    width: 100vw;
    max-width: 100vw;
    min-width: 100%;
	position: relative;
    height: 50%;
    max-height: 100%;
	right: 50%;
    filter: brightness(60%);
    resize: horizontal;
    overflow: auto;
}