.Tamam {
    height: auto;
    width: 100vw;
    // background-color: rgba($color: $color-dark-grey, $alpha: .8);
    background-color: rgba($color: $color-dark-grey, $alpha: .85);
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-bottom: 40px;
    position: relative;
    justify-content: center;
    padding-right: 28px;
    padding-left: 28px;

    @include mq("tablet") {
        height: auto;
        padding-bottom: 100px;
    }

    .container {
        padding-left: 0;
        padding-right: 0;

        @include mq("tablet") {
            padding-left: $offset;
            padding-right: $offset;
        }
    }

    &-master {
        width: 100%;
        height: auto;
        // background-color: #ddd;
        position: relative;
        top: 80px;


        @include mq("tablet") {
            top: 140px;
        }

        &-page_title {
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 140px;
            // background-color: black;
            text-align: center;
            position: relative;
            color: white;
            font-size: 40px;
            font-weight: bold;
            border-bottom: 1px solid $color-blue;
            line-height: 40px;
        }

        &-content {
            display: flex;
            width: 100%;
            height: auto;
            // background-color: red;
            flex-direction: column;
            // background-color: red;
            padding-top: 40px;
            padding-bottom: 40px;
            justify-content: center;

            &-container1,
            &-container2,
            &-container3,
            &-container4, 
            &-container5 {
                display: inherit;
                width: 100%;
                padding-bottom: 40px;
                // background-color: red;
                height: auto;
                flex-direction: column;

                @include mq("tablet") {
                    flex-direction: row;
                    justify-content: center;
                }



                &-proje1,
                &-proje2,
                &-proje3 {
                    display: inherit;
                    width: 100%;
                    height: auto;
                    flex-direction: column;

                    @include mq("tablet") {
                        width: 30%;
                    }

                    &-title {
                        display: inherit;
                        // background-color: red;
                        width: 100%;
                        height: 92px;
                        padding-bottom: 20px;
                        justify-content: center;
                        text-align: center;
                        padding-top: 20px;

                        // align-items: center;
                        h1 {
                            color: white;
                            font-size: 24px;

                            @include mq("tablet") {
                                font-size: 30px;
                            }
                        }
                    }

                    &-img {
                        display: inherit;
                        // background-color: black;
                        width: 100%;
                        height: 180px;
                        transition: 1s;

                        @include mq("tablet") {
                            height: 180px;
                        }

                        h4 {
                            display: flex;
                            color: white;
                            justify-content: center;
                            padding-top: 80px;
                            opacity: 0;
                            transition: 1s;
                        }
                    }
                }
            }


            &-container1 {

                &-proje1 {
                    margin-right: 0;

                    @include mq("tablet") {
                        margin-right: 20px;
                    }

                    &-img {
                        background-repeat: no-repeat;
                        background-image: url("../../src/img/duhok1/7.jpg");
                        background-size: cover;
                        background-position: center;

                        &:hover {
                            // filter: grayscale(100%);
                            background-image:
                                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                                url("../../src/img/duhok1/7.jpg");
                            transition: 1s;
                            transform: scale(1.1);
                            // filter: brightness(30%);

                            h4 {
                                opacity: 1;
                            }
                        }
                    }
                }
                &-proje2 {
                    margin-left: 0;
                    margin-right: 0;
                    padding-top: 40px;

                    @include mq("tablet") {
                        margin-left: 20px;
                        margin-right: 20px;
                        padding-top: 0;
                    }

                    &-img {
                        background-repeat: no-repeat;
                        background-image: url("../../src/img/bhc20/1.jpg");
                        background-size: cover;
                        background-position: center;

                        &:hover {
                            // filter: grayscale(100%);
                            background-image:
                                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                                url("../../src/img/bhc20/1.jpg");
                            transition: 1s;
                            transform: scale(1.1);
                            // filter: brightness(30%);

                            h4 {
                                opacity: 1;
                            }
                        }
                    }
                }
                &-proje3 {
                    margin-left: 0;
                    padding-top: 40px;

                    @include mq("tablet") {
                        margin-left: 20px;
                        padding-top: 0;
                    }

                    &-img {
                        background-repeat: no-repeat;
                        background-image: url("../../src/img/fapel1/1.jpg");
                        background-size: cover;
                        background-position: center;

                        &:hover {
                            // filter: grayscale(100%);
                            background-image:
                                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                                url("../../src/img/fapel1/1.jpg");
                            transition: 1s;
                            transform: scale(1.1);
                            // filter: brightness(30%);

                            h4 {
                                opacity: 1;
                            }
                        }
                    }
                }
            }


            &-container2 {

                &-proje1 {
                    margin-right: 0;

                    @include mq("tablet") {
                        margin-right: 20px;
                    }

                    &-img {
                        background-repeat: no-repeat;
                        background-image: url("../../src/img/kerkuk/kutuphane/2.jpg");
                        background-size: cover;
                        background-position: center;

                        &:hover {
                            // filter: grayscale(100%);
                            background-image:
                                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                                url("../../src/img/kerkuk/kutuphane/2.jpg");
                            transition: 1s;
                            transform: scale(1.1);
                            // filter: brightness(30%);

                            h4 {
                                opacity: 1;
                            }
                        }
                    }
                }
                &-proje2 {
                    margin-left: 0;
                    margin-right: 0;
                    padding-top: 40px;
                    
                    @include mq("tablet") {
                        margin-left: 20px;
                        margin-right: 20px;
                        padding-top: 0;
                    }

                    &-img {
                        background-repeat: no-repeat;
                        background-image: url("../../src/img/kerkuk/towers/11.jpg");
                        background-size: cover;
                        background-position: center;

                        &:hover {
                            // filter: grayscale(100%);
                            background-image:
                                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                                url("../../src/img/kerkuk/towers/11.jpg");
                            transition: 1s;
                            transform: scale(1.1);
                            // filter: brightness(30%);

                            h4 {
                                opacity: 1;
                            }
                        }
                    }
                }
                &-proje3 {
                    margin-left: 0;
                    padding-top: 40px;

                    @include mq("tablet") {
                        margin-left: 20px;
                        padding-top: 0;
                    }

                    &-img {
                        background-repeat: no-repeat;
                        background-image: url("../../src/img/kerkuk/plaza/8.jpg");
                        background-size: cover;
                        background-position: center;

                        &:hover {
                            // filter: grayscale(100%);
                            background-image:
                                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                                url("../../src/img/kerkuk/plaza/8.jpg");
                            transition: 1s;
                            transform: scale(1.1);
                            // filter: brightness(30%);

                            h4 {
                                opacity: 1;
                            }
                        }
                    }
                }
            }


            &-container3 {
                
                &-proje1 {
                    margin-right: 0;

                    @include mq("tablet") {
                        margin-right: 20px;
                    }

                    &-img {
                        background-repeat: no-repeat;
                        background-image: url("../../src/img/balkon-yesilkoy/4.jpg");
                        background-size: cover;
                        background-position: center;

                        &:hover {
                            // filter: grayscale(100%);
                            background-image:
                                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                                url("../../src/img/balkon-yesilkoy/4.jpg");
                            transition: 1s;
                            transform: scale(1.1);
                            // filter: brightness(30%);

                            h4 {
                                opacity: 1;
                            }
                        }
                    }
                }
                &-proje2 {
                    padding-top: 40px;

                    @include mq("tablet") {
                        margin-left: 20px;
                        margin-right: 20px;
                        padding-top: 0;
                    }

                    &-img {
                        background-repeat: no-repeat;
                        background-image: url("../../src/img/balkon-erbil/1.jpg");
                        background-size: cover;
                        background-position: center;

                        &:hover {
                            // filter: grayscale(100%);
                            background-image:
                                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                                url("../../src/img/balkon-erbil/1.jpg");
                            transition: 1s;
                            transform: scale(1.1);
                            // filter: brightness(30%);

                            h4 {
                                opacity: 1;
                            }
                        }
                    }
                }
                &-proje3 {
                    margin-left: 0;
                    padding-top: 40px;

                    @include mq("tablet") {
                        margin-left: 20px;
                        padding-top: 0;
                    }

                    &-img {
                        background-repeat: no-repeat;
                        background-image: url("../../src/img/balkon-kuveyt/1.jpg");
                        background-size: cover;
                        background-position: center;

                        &:hover {
                            // filter: grayscale(100%);
                            background-image:
                                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                                url("../../src/img/balkon-kuveyt/1.jpg");
                            transition: 1s;
                            transform: scale(1.1);
                            // filter: brightness(30%);

                            h4 {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            
            
            &-container4 {
                
                &-proje1 {
                    margin-right: 0;

                    @include mq("tablet") {
                        margin-right: 20px;
                    }

                    &-img {
                        background-repeat: no-repeat;
                        background-image: url("../../src/img/tato/3.jpg");
                        background-size: cover;
                        background-position: center;

                        &:hover {
                            // filter: grayscale(100%);
                            background-image:
                                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                                url("../../src/img/tato/3.jpg");
                            transition: 1s;
                            transform: scale(1.1);
                            // filter: brightness(30%);

                            h4 {
                                opacity: 1;
                            }
                        }
                    }
                }
                &-proje2 {
                    padding-top: 40px;

                    @include mq("tablet") {
                        margin-left: 20px;
                        margin-right: 20px;
                        padding-top: 0;
                    }

                    &-img {
                        background-repeat: no-repeat;
                        background-image: url("../../src/img/kerkuk/kuran/16.jpg");
                        background-size: cover;
                        background-position: center;

                        &:hover {
                            // filter: grayscale(100%);
                            background-image:
                                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                                url("../../src/img/kerkuk/kuran/16.jpg");
                            transition: 1s;
                            transform: scale(1.1);
                            // filter: brightness(30%);

                            h4 {
                                opacity: 1;
                            }
                        }
                    }
                }
                &-proje3 {
                    margin-left: 0;
                    padding-top: 40px;

                    @include mq("tablet") {
                        margin-left: 20px;
                        padding-top: 0;
                    }

                    &-img {
                        background-repeat: no-repeat;
                        background-image: url("../../src/img/torunlar/11.jpg");
                        background-size: cover;
                        background-position: center;

                        &:hover {
                            // filter: grayscale(100%);
                            background-image:
                                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                                url("../../src/img/torunlar/11.jpg");
                            transition: 1s;
                            transform: scale(1.1);
                            // filter: brightness(30%);

                            h4 {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            
            
            &-container5 {

                justify-content: flex-start;
                
                &-proje1 {
                    margin-right: 0;

                    @include mq("tablet") {
                        margin-right: 20px;
                    }

                    &-img {
                        background-repeat: no-repeat;
                        background-image: url("../../src/img/sandavic/8.jpg");
                        background-size: cover;
                        background-position: center;

                        &:hover {
                            // filter: grayscale(100%);
                            background-image:
                                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                                url("../../src/img/sandavic/8.jpg");
                            transition: 1s;
                            transform: scale(1.1);
                            // filter: brightness(30%);

                            h4 {
                                opacity: 1;
                            }
                        }
                    }
                }
                &-proje2 {
                    @include mq("tablet") {
                        margin-left: 20px;
                        margin-right: 20px;
                        padding-top: 0;
                    }

                    &-img {
                        background-repeat: no-repeat;
                        background-image: url("../../src/img/balkon.png");
                        background-size: cover;
                        background-position: center;

                        &:hover {
                            // filter: grayscale(100%);
                            background-image:
                                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                                url("../../src/img/balkon.png");
                            transition: 1s;
                            transform: scale(1.1);
                            // filter: brightness(30%);

                            h4 {
                                opacity: 1;
                            }
                        }
                    }
                }
                &-proje3 {
                    margin-left: 0;
                    padding-top: 40px;

                    @include mq("tablet") {
                        margin-left: 20px;
                        padding-top: 0;
                    }

                    &-img {
                        background-repeat: no-repeat;
                        background-image: url("../../src/img/balkon.png");
                        background-size: cover;
                        background-position: center;

                        &:hover {
                            // filter: grayscale(100%);
                            background-image:
                                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                                url("../../src/img/balkon.png");
                            transition: 1s;
                            transform: scale(1.1);
                            // filter: brightness(30%);

                            h4 {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}