footer.Footer
    .container
        .Footer-top
            .Footer-top-company
                img.Footer-top-company-logo(src="../../img/footer_logo.svg", alt="")
                .Footer-top-company-content
                    p Do Yourself <br> a Favour
                .Footer-top-company-social

                    .social_desktop
                        button#in.Footer-top-company-social-btn(onclick=" window.open('http://www.linkedin.com/','_blank')")
                            i.fab.fa-linkedin-in
                        button.Footer-top-company-social-btn(onclick=" window.open('http://www.instagram.com/maviyolinsaat','_blank')")
                            i.fab.fa-instagram
                        button#mtmt.Footer-top-company-social-btn(onclick=" window.open('https://www.facebook.com/','_blank')")
                            i.fab.fa-facebook-f
                        button#mtmt.Footer-top-company-social-btn(onclick=" window.open('https://www.youtube.com/channel/UC9ZpxZVn2pCDFOVJdp2yzrA','_blank')")
                            i.fab.fa-youtube    

                    


            .Footer-top-contact 
                h1.Footer-top-contact-title İletişim
                .Footer-top-contact-address
                    .Footer-top-contact-address-location
                        p
                            i.fas.fa-map-marker-alt.fa-lg(aria-hidden='true')
                            a(href="https://goo.gl/maps/yAgMgm3kML7mp96BA" target="_blank") Florya Şenlikköy Mah. Avcılar Sk No:37 Villa Aksoy 34153, Florya, Bakırköy/İstanbul
                    .Footer-top-contact-address-email
                        p 
                            i.fa.fa-envelope.fa-lg(aria-hidden='true')
                            a(href="mailto:info@maviyolinsaat.com") info@maviyolinsaat.com
                    .Footer-top-contact-address-phone
                        p
                            i.fa.fa-phone.fa-lg(aria-hidden='true')
                            a(href="tel:02125430108") 0212 543 01 08

                
                
            .Footer-top-links
                h1.Footer-top-links-title Hızlı Bağlantılar
                .Footer-top-links-quick
                    .Footer-top-links-quick-links
                        a(href="../pages/kentsel-donusum.pug") Kentsel Dönüşüm
                        a(href="../pages/trafik-guvenligi.pug") Trafik Güvenliği
                        a(href="../pages/yesil-bina.pug") Yeşil Bina
                        a(href="../pages/mimari-proje-ve-tasarim.pug") Mimari Proje ve Tasarım
                        a(href="../pages/devam-eden-projelerimiz.pug") Devam Eden Projeler
                        a(href="../pages/tamamlanan-projelerimiz.pug") Tamamlanan Projeler




        .Footer-middle
            .Footer-middle-links
                button.Footer-top-company-social-btn(onclick=" window.open('http://www.linkedin.com/','_blank')")
                    i.fab.fa-linkedin-in
                button#insta.Footer-top-company-social-btn(onclick=" window.open('http://www.instagram.com/maviyolinsaat','_blank')")
                    i.fab.fa-instagram
                button#fb.Footer-top-company-social-btn(onclick=" window.open('https://www.facebook.com/','_blank')")
                    i.fab.fa-facebook-f
                button#yt.Footer-top-company-social-btn(onclick=" window.open('https://www.youtube.com/channel/UC9ZpxZVn2pCDFOVJdp2yzrA','_blank')")
                    i.fab.fa-youtube




        .Footer-bot
            .Footer-bot-copyright © 2020 | Maviyol İnşaat | Tüm hakları saklıdır.