footer.Footer
    .container
        .Footer-top
            .Footer-top-company
                img.Footer-top-company-logo(src="../../img/footer_logo.svg", alt="")
                .Footer-top-company-content
                    p Ozet tanıtım hasdjas asdjhgasjhdas  asda ashdgjashgdjahsgdja ajshdgjas asjdhasjd asjasgdjas uaysdg ashdjas 
                .Footer-top-company-social

                    .social_desktop
                        button#in.Footer-top-company-social-btn(onclick=" window.open('http://www.linkedin.com/','_blank')")
                            i.fa.fa-linkedin
                        button.Footer-top-company-social-btn(onclick=" window.open('http://www.instagram.com/maviyolconstruction','_blank')")
                            i.fa.fa-instagram
                        button#mtmt.Footer-top-company-social-btn(onclick=" window.open('https://www.facebook.com/','_blank')")
                            i.fa.fa-facebook
                        button#mtmt.Footer-top-company-social-btn(onclick=" window.open('https://www.youtube.com/channel/UC9ZpxZVn2pCDFOVJdp2yzrA','_blank')")
                            i.fa.fa-youtube-play    

                    


            .Footer-top-contact 
                h1.Footer-top-contact-title İletişim
                .Footer-top-contact-address
                    .Footer-top-contact-address-location
                        p
                            i.fa.fa-map-marker.fa-lg(aria-hidden='true')
                            a(href="https://goo.gl/maps/yAgMgm3kML7mp96BA" target="_blank") Şenlikköy Mah. Avcılar Sk No:37 Villa Aksoy 34153, Florya, Bakırköy/İstanbul
                    .Footer-top-contact-address-email
                        p 
                            i.fa.fa-envelope.fa-sm(aria-hidden='true')
                            a(href="mailto:info@maviyolinsaat.com") info@maviyolinsaat.com
                    .Footer-top-contact-address-phone
                        p
                            i.fa.fa-phone.fa-lg(aria-hidden='true')
                            a(href="tel:02125430108") 0212 543 01 08

                
                
            .Footer-top-links
                h1.Footer-top-links-title Hızlı Bağlantılar
                .Footer-top-links-quick
                    .Footer-top-links-quick-links
                        a(href="") Kentsel Dönüşüm
                        a(href="") Trafik Güvenliği
                        a(href="") BİM (Bina Bilgi Modelleme)
                        a(href="") Tasarım ve Mimari Proje
                        a(href="") Devam Eden Projeler
                        a(href="") Tamamlanmış Projeler




        .Footer-middle
            .Footer-middle-links
                button.Footer-top-company-social-btn(onclick=" window.open('http://www.linkedin.com/','_blank')")
                    i.fa.fa-linkedin
                button#insta.Footer-top-company-social-btn(onclick=" window.open('http://www.instagram.com/maviyolconstruction','_blank')")
                    i.fa.fa-instagram
                button#fb.Footer-top-company-social-btn(onclick=" window.open('https://www.facebook.com/','_blank')")
                    i.fa.fa-facebook
                button#yt.Footer-top-company-social-btn(onclick=" window.open('https://www.youtube.com/channel/UC9ZpxZVn2pCDFOVJdp2yzrA','_blank')")
                    i.fa.fa-youtube-play




        .Footer-bot
            .Footer-bot-copyright © 2020 | Maviyol İnşaat | Tüm hakları saklıdır.