header.Header
    .container
        .Header-menu
            .Header-menu-logo
                a.Header-menu-logo-a(href="../pages/index.pug")
                    img.justlogo(src="../../img/sadecelogo1.svg", alt="")
                    img.justtext(src="../../img/sadecemetin1.svg", alt="")
            .Header-menu-nav
                //- img.menu_logo(src="../../img/menulogo1.svg", alt="")
                button.Header-menu-nav-button(type="button")
                    img.menu_logo(src="../../img/menulogo-beyaz.svg", alt="")
                    
                .Header-menu-nav-links
                    ul
                        li 
                            a.hover-border(href="../pages/hakkimizda.pug") Hakkımızda
                        li 
                            a#services.hover-border(href="#" onclick='return false;') Hizmetler
                                i.fa.fa-caret-down(aria-hidden='true')
                            ul.dropdown-1
                                li
                                    a.hover-left(href="../pages/kentsel-donusum.pug") Kentsel Dönüşüm
                                li
                                    a.hover-left(href="../pages/trafik-guvenligi.pug") Trafik Güvenliği
                                li
                                    a.hover-left(href="../pages/bina-bilgi-modelleme.pug") BIM (Bina Bilgi Modelleme)
                                li
                                    a.hover-left(href="../pages/mimari-proje-ve-tasarim.pug") Mimari Proje ve Tasarım 
                        li 
                            a#projects.hover-border(href="#" onclick='return false;') Projeler
                                i.fa.fa-caret-down(aria-hidden='true')
                            ul.dropdown-2
                                li
                                    a.hover-left(href="../pages/devam-eden-projelerimiz.pug") Devam Eden Projeler
                                li
                                    a.hover-left(href="../pages/tamamlanan-projelerimiz.pug") Tamamlanan Projeler
                        li 
                            a.hover-border(href="../pages/referanslar.pug") Referanslar
                        li 
                            a.hover-border(href="../pages/iletisim.pug") İletişim
                        




        

        //- .Header-menu
        //-     ul
        //-         li
        //-             a.hover-border(href="") Hakkımızda
        //-         li
        //-             a.hover-border(href="") Hizmetler
        //-                 i.fa.fa-caret-down(aria-hidden='true')
        //-                 ul
        //-                     li
        //-                         a.hover-border(href="") Deneme1
        //-                     li
        //-                         a.hover-border(href="") Deneme2
        //-                     li
        //-                         a.hover-border(href="") Deneme3
        //-                     li
        //-                         a.hover-border(href="") Deneme4
        //-         li
        //-             a.hover-border(href="") Projeler
        //-                 i.fa.fa-caret-down(aria-hidden='true')
        //-         li
        //-             a.hover-border(href="") Referanslar
        //-         li
        //-             a.hover-border(href="") İletişim
            //- a.hover-border(href="") Hakkımızda
            //- a.hover-border(href="") Hizmetler
            //-     i.fa.fa-caret-down(aria-hidden='true')
            //-     .Header-menu-services
            //-         a(href="") Deneme
            //- a.hover-border(href="") Projeler
            //-     i.fa.fa-caret-down(aria-hidden='true')
            //- a.hover-border(href="") Referanslar
            //- a.hover-border(href="") İletişim