doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Maviyol İnşaat
        link(rel="stylesheet", href="../../styles/main.scss")

    body
        //- include header
        
        main.Main
            .container
                block content
        

        //- include footer


    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src="https://unpkg.com/flickity@2.2.1/dist/flickity.pkgd.min.js")
    script(src="../../scripts/main.js")