doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Maviyol İnşaat | Hak Ettiğiniz Yaşam
        link(rel='shortcut icon' href='../../img/sadecelogo2.svg' type="image/x-icon")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;700;800&display=swap")
        //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css')
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
        link(rel="stylesheet", href="../../styles/main.scss")

    body
        include header
        
        
        main.Main
            .container
                block content
                .preloader
                    .loader
                        img(src="../../img/sadecelogo1.svg", alt="")
        

        include footer
        //- h3 footer
       


    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src="https://unpkg.com/flickity@2.2.1/dist/flickity.pkgd.min.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.2/circle-progress.min.js')
    script(src="../../scripts/main.js")
    script(src="../../scripts/lightbox.js")